@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

:root {
  --part-margin: 30px;
  --padding-part: 20px;
  --title-font: 'Comfortaa', cursive;
  --font: 'Roboto', sans-serif;
  --bg-color: #f3f3f3;
  --grey: #979797;
  --text-grey: #787878;
  --light-grey: #dadad7;
  --footer-bg: #fafafa;
  --progress-green: #9af248;
  --progress-yellow: #ffb92f;
  --progress-red: #fe3434;
  --lk-color: #5b5b5b; }

@media (min-width: 828px) {
  :root {
    --con-size: 768px;
    --padding-part: 20px; } }

@media (min-width: 1024px) {
  :root {
    --part-margin: 40px;
    --padding-part: 40px; } }

@media (min-width: 1200px) {
  :root {
    --part-margin: 50px;
    --padding-part: 65px; } }

@media (min-width: 1470px) {
  :root {
    --part-margin: 70px; } }

.header {
  position: relative;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }
  .header__top {
    text-align: right; }
  .header__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__logo {
    max-width: 180px;
    max-height: 70px; }
  .header__btn-icon {
    width: 20px;
    height: 20px;
    fill: #BCBEC2;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header__mobile-close, .header__mobile-menu, .header__mobile-btns {
    display: none; }
  .header__btn + .header__btn {
    margin-left: 20px; }
  .header__btn:hover .header__btn-icon {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

@media (max-width: 1024px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px; }
    .header__top {
      display: none; }
    .header__bottom {
      display: block;
      position: absolute;
      top: 0;
      left: 0%;
      z-index: 110;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      width: 100%;
      padding: 20px;
      visibility: hidden;
      -webkit-transform: translate(-100%, 0);
          -ms-transform: translate(-100%, 0);
              transform: translate(-100%, 0);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.8); }
      .header__bottom--menu-open {
        visibility: visible;
        -webkit-transform: translate(0%, 0);
            -ms-transform: translate(0%, 0);
                transform: translate(0%, 0); }
    .header__mobile-close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 5; }
    .header__mobile-menu, .header__mobile-btns {
      display: block; }
    .header__mobile-menu {
      margin-left: auto; }
    .header__mobile-btns {
      margin-top: 20px; }
      .header__mobile-btns .header__btn + .header__btn {
        margin-left: 20px; }
      .header__mobile-btns .header__btn-icon {
        width: 30px;
        height: 30px; } }

@media (min-width: 1024px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px; }
    .header__top {
      margin-bottom: -25px; }
    .header__bottom {
      margin-top: 30px; } }

@media (min-width: 1200px) {
  .header {
    padding-top: 30px;
    padding-bottom: 40px; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--title-font); }
  .main-nav__link {
    text-decoration: none;
    color: #000;
    font-size: 18px; }

@media (max-width: 1024px) {
  .main-nav {
    display: block; }
    .main-nav__item {
      display: block; }
      .main-nav__item + .main-nav__item {
        margin-top: 20px; }
    .main-nav__link {
      display: block;
      padding: 5px 0; } }

.menu-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  outline: none; }
  .menu-btn:focus, .menu-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .menu-btn__icon {
    width: 100%;
    height: 100%;
    fill: #000; }

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part);
  padding-top: 20px; }

.footer__col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.footer__logo--bohemia {
  max-width: 125px;
  max-height: 55px; }

.footer__logo--armadi {
  max-width: 130px;
  max-height: 20px;
  margin-bottom: 20px; }

.footer__title {
  font-family: var(--title-font);
  font-size: 18px; }

.footer__text {
  font-family: var(--font);
  font-size: 15px; }

.footer__link {
  color: #000;
  text-decoration: none; }

.footer__sub-btn {
  margin-top: 20px;
  padding: 10px 15px;
  border: 1px solid #b3b6ba;
  background-color: #b3b6ba;
  font-family: var(--font);
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .footer__sub-btn:hover, .footer__sub-btn:focus {
    border-color: #000;
    color: #000; }

@media (max-width: 768px) {
  .footer__col + .footer__col {
    margin-top: 20px; } }

@media (min-width: 768px) {
  .footer__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .footer__col {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%; } }

@media (min-width: 1024px) {
  .footer__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 65px; }
  .footer__col {
    -ms-flex-preferred-size: 252px;
        flex-basis: 252px; }
  .footer__logo--armadi {
    margin-bottom: 50px; }
  .footer__title {
    margin-top: 10px;
    margin-bottom: 20px; }
  .footer__text--privacy {
    margin-top: 70px; } }

@media (min-width: 1200px) {
  .footer__items {
    padding-top: 70px;
    padding-bottom: 85px; }
  .footer__logo--armadi {
    margin-bottom: 70px; }
  .footer__title {
    margin-top: 20px;
    margin-bottom: 30px; } }

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-family: var(--font);
  font-weight: 300; }
  .footer-link__icon {
    width: 20px;
    height: 20px;
    fill: #000;
    margin-right: 15px; }
  .footer-link + .footer-link {
    margin-top: 20px; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-nav__item {
  font-family: var(--font); }
  .footer-nav__item + .footer-nav__item {
    margin-top: 10px; }

.footer-nav__link {
  text-decoration: none;
  color: #000; }

.footer-social__icon {
  width: 30px;
  height: 30px; }

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  padding: 15px 0;
  color: #fff;
  font-family: var(--font); }
  .footer-copy__logo {
    width: 115px;
    max-height: 25px;
    margin-left: 10px; }

.page-index .footer {
  background-color: var(--footer-bg); }

.slider {
  position: relative;
  margin-top: var(--part-margin);
  padding-bottom: var(--part-margin);
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }
  .slider + .slider {
    margin-top: 0; }
  .slider.popular-index {
    margin-top: var(--part-margin); }
  .slider--full {
    margin: 0; }
    .slider--full .slider__list {
      padding: 0; }
    .slider--full .slider__btn--left {
      left: 30px; }
    .slider--full .slider__btn--right {
      right: 30px; }
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 100;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .slider__btn:hover .slider__btn-arrow {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .slider__btn-arrow {
      width: 25px;
      height: 52px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .slider__btn--left {
      left: 20px; }
    .slider__btn--right {
      right: 20px; }
  .slider--full .slider__btn {
    fill: #fff; }
  .slider__collection-logo {
    display: block;
    margin: 0 auto; }
    .slider__collection-logo--boheme {
      max-width: 300px;
      max-height: 90px; }
      .slider__collection-logo--boheme .st5 {
        display: none; }
    .slider__collection-logo--armadi {
      max-width: 330px;
      max-height: 50px; }
  .slider__dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    .slider__dots li + li {
      margin-left: 10px; }
    .slider__dots li.slick-active button {
      background-color: #fff; }
    .slider__dots button {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 3px solid #fff;
      border-radius: 50%;
      color: transparent;
      font-size: 0;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      outline: none; }
  .slider .product-item {
    max-width: unset;
    margin: 5px; }

@media (min-width: 1200px) {
  .slider--full {
    padding: 0; }
    .slider--full .slider__item > img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
    .slider--full .slider__list {
      height: 660px; }
    .slider--full .slider__btn--right {
      right: 40px; }
    .slider--full .slider__btn--left {
      left: 40px; }
  .slider__btn--left {
    left: 20px; }
  .slider__btn--right {
    right: 20px; } }

.collections-slider .slider__btn {
  fill: #a5a5a5; }

.slick-slide {
  outline: none; }

.breadcrumbs {
  padding: 15px var(--padding-part);
  background-color: #ebebeb; }
  .breadcrumbs__item {
    font-family: var(--font);
    font-size: 15px;
    color: #5b5b5b;
    text-decoration: none;
    font-weight: 300; }
    .breadcrumbs__item + .breadcrumbs__item::before {
      content: " >> "; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: var(--part-margin);
  margin-bottom: var(--part-margin); }
  .pagination__link {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-family: var(--font);
    font-size: 18px;
    color: #d7d7d4;
    text-align: center;
    border: 1px solid currentColor;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .pagination__link:hover {
      color: var(--text-grey);
      border-color: #000; }
    .pagination__link-arrow {
      margin: 0 15px;
      line-height: 0;
      text-decoration: none; }
      .pagination__link-arrow:hover .pagination__link-icon {
        fill: var(--text-grey); }
    .pagination__link-icon {
      max-width: 23px;
      height: 33px;
      fill: #d7d7d4;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .pagination__link + .pagination__link {
      margin-left: 10px; }

.lk-menu__title {
  margin: 0 0 10px;
  padding: 10px 20px;
  padding-left: var(--padding-part);
  font-family: var(--title-font);
  font-size: 20px;
  background-color: var(--footer-bg); }

.lk-menu__item {
  padding-left: var(--padding-part);
  display: block;
  font-family: var(--font);
  font-weight: 300;
  font-size: 15px;
  color: var(--lk-color);
  text-decoration: none; }
  .lk-menu__item + .lk-menu__item {
    margin-top: 10px; }
  .lk-menu__item + .lk-menu__title {
    margin-top: 30px; }

@media (min-width: 1200px) {
  .lk-menu {
    width: calc(var(--padding-part) + 252px); }
    .lk-menu__title {
      padding-left: var(--padding-part);
      margin-bottom: 30px; }
    .lk-menu__item {
      padding-left: var(--padding-part); }
      .lk-menu__item + .lk-menu__title {
        margin-top: 40px; } }

.sale-info {
  max-width: 435px;
  margin: 30px auto 50px;
  font-family: var(--font);
  font-size: 15px;
  line-height: 1.7;
  color: #868686;
  text-align: center; }
  .sale-info__link {
    color: #000; }

.category-filter__title {
  position: relative;
  margin: 0 auto;
  padding: 15px 0;
  font-family: var(--title-font);
  font-size: 16px;
  color: #394145;
  text-align: center; }
  .category-filter__title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: calc(100% - 2 * var(--part-margin));
    height: 1px;
    background-color: #394145; }
  .category-filter__title-text {
    position: relative;
    z-index: 5;
    padding: 0 20px;
    background-color: #fff; }
  .category-filter__title--grey .category-filter__title-text {
    background-color: var(--footer-bg); }
  .category-filter__title--grey::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--footer-bg); }
  .category-filter__title-arrow {
    height: 25px;
    width: 15px;
    margin-left: 20px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    vertical-align: middle; }

.category-filter__variants {
  margin: var(--part-margin) 0;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }

.variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .variants__one:nth-child(n+9):not(.variants__one--btn-con) {
    display: none; }
  .variants--show-all .variants__one:nth-child(n+9) {
    display: block; }
  .variants__one {
    position: relative;
    width: 49%;
    margin-top: 15px; }
    .variants__one--btn-con {
      width: 100%; }
  .variants__input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0; }
    .variants__input:checked ~ .variants__btn {
      border-color: #000;
      color: #000; }
  .variants__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 53px;
    padding: 7px 0;
    text-align: center;
    font-family: var(--font);
    font-weight: 300;
    text-transform: lowercase;
    color: #b3b6ba;
    border: 1px solid #b3b6ba;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .variants__btn:hover {
      border-color: #000;
      color: #000; }
    .variants__btn--more {
      width: 49%;
      margin-left: auto;
      margin-right: auto;
      color: #000;
      border-color: #000;
      background: var(--footer-bg); }

@media (min-width: 828px) {
  .variants__one {
    display: block;
    width: 32%;
    max-width: 252px; }
    .variants__one--btn-con {
      width: 100%;
      max-width: unset; }
  .variants__btn {
    height: auto;
    padding: 10px 0; }
    .variants__btn--more {
      width: 32%;
      max-width: 252px; } }

@media (min-width: 1024px) {
  .variants__btn {
    padding: 15px 0; } }

.param-filter {
  margin-bottom: var(--part-margin); }
  .param-filter__chars {
    margin: var(--part-margin) 0 0;
    padding-left: var(--padding-part);
    padding-right: var(--padding-part); }

.chars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  clear: both; }
  .chars-list__one {
    width: 48%;
    margin-top: 30px; }
  .chars-list__title {
    margin: 0 0 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
    color: #000; }
  .chars-list__label {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 12px;
    color: #d7d7d7; }
    .chars-list__label + .chars-list__label {
      margin-top: 10px; }
  .chars-list__check {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    float: left;
    border-color: #d7d7d7;
    outline: none; }

@media (min-width: 828px) {
  .chars-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .chars-list__one {
      margin-top: 20px;
      width: 19%; }
      .chars-list__one + .chars-list__one {
        margin-left: 10px; }
    .chars-list__title {
      margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .chars-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .chars-list__one {
      width: 100%;
      max-width: calc(100% / 8);
      margin-top: 0; }
    .chars-list + .variants__one--btn-con {
      margin-top: 30px; } }

.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }

.video {
  width: 100%; }
  .video__con {
    position: relative;
    padding-top: 56.25%; }
  .video__one {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.page-onecollection .index-coll {
  padding-top: 0; }

.index-coll {
  padding-top: var(--part-margin);
  padding-left: var(--padding-part);
  padding-right: var(--padding-part);
  background: -o-radial-gradient(#fff, #d7d7d4);
  background: radial-gradient(#fff, #d7d7d4); }
  .index-coll .slider__btn-arrow {
    fill: #fff; }
  .index-coll__item {
    background: #fff; }
  .index-coll__slider {
    position: relative;
    margin-top: 0;
    padding-top: var(--part-margin);
    padding-bottom: var(--part-margin);
    padding-left: 0;
    padding-right: 0; }
    .index-coll__slider .slider__btn--left {
      left: -45px; }
    .index-coll__slider .slider__btn--right {
      right: -45px; }
  .index-coll .product-item {
    max-width: unset;
    margin: 5px; }

.index-collection {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .index-collection__photo-con, .index-collection__description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }
  .index-collection__photo-con {
    line-height: 0; }
  .index-collection__photo {
    width: 100%; }
  .index-collection__brand {
    display: block;
    width: 170px;
    height: 50px;
    margin-left: auto; }
  .index-collection__name {
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
    font-family: var(--title-font); }
  .index-collection__title {
    margin: 20px 0;
    font-family: var(--title-font);
    font-size: 43px; }
  .index-collection__text {
    font-family: var(--font);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px; }

@media (min-width: 768px) {
  .index-collection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .index-collection__photo-con, .index-collection__description {
      width: 49%; }
    .index-collection__photo {
      max-height: 690px; }
    .index-collection__description {
      padding-left: 40px; }
    .index-collection__title {
      margin: 40px 0; } }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }

.item-news {
  position: relative;
  background-color: #fff; }
  .item-news__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .item-news__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .item-news__date {
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px; }
  .item-news__title {
    font-family: var(--title-font);
    font-size: 15px; }

@media (max-width: 1200px) {
  .item-news {
    width: 32%;
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  .item-news {
    width: 48%;
    margin-bottom: 40px; }
    .item-news__date {
      padding: 0px 10px; }
    .item-news__title {
      padding: 0px 10px 20px; } }

@media (max-width: 470px) {
  .item-news {
    width: 100%; } }

@media (min-width: 1200px) {
  .item-news {
    width: 252px;
    margin-bottom: 13px; }
    .item-news__img {
      height: 310px; }
    .item-news__date {
      margin-top: 20px;
      margin-bottom: 0;
      padding: 0 17px; }
    .item-news__title {
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 0 17px; } }

.lk {
  padding-top: var(--part-margin);
  padding-bottom: var(--part-margin); }

@media (min-width: 828px) {
  .lk {
    padding-right: var(--padding-part); } }

.lk-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  aling-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .lk-content__text {
    padding-left: var(--padding-part); }
  .lk-content__p {
    margin: 0 0 20px;
    font-family: var(--font);
    font-size: 15px;
    color: var(--lk-color); }
  .lk-content__orders {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    max-width: 720px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

@media (max-width: 828px) {
  .lk-content__text {
    margin-bottom: 40px; }
  .lk-content__p br {
    display: none; }
  .lk-content__orders {
    padding-right: var(--padding-part);
    padding-left: var(--padding-part); } }

@media (min-width: 828px) {
  .lk-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .lk-content--edit {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .lk-content--ticket {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
    .lk-content__text {
      width: 50%; }
    .lk-content__p {
      margin-bottom: 30px; } }

.order-list__show-items {
  display: block;
  max-width: 230px;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 15px 30px;
  font-family: var(--font);
  font-size: 16px;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #ebebeb;
  border: 1px solid #d7d7d4; }
  .order-list__show-items:hover, .order-list__show-items:active {
    border-color: #000; }

@media (max-width: 828px) {
  .order-list {
    margin-bottom: 40px; }
    .order-list__show-items {
      margin: 0 auto 30px; }
    .order-list__table {
      width: 100%;
      overflow: scroll; } }

.order-info {
  width: 100%;
  font-family: var(--font);
  font-size: 14px;
  text-align: center;
  border-collapse: collapse; }
  .order-info__head {
    background-color: #ebebeb; }
  .order-info__th {
    border-left: 2px solid #fff;
    padding: 10px 0;
    color: var(--lk-color); }
  .order-info__row {
    border-bottom: 2px solid #ebebeb; }
  .order-info__date {
    display: block; }
  .order-info__val {
    padding: 10px;
    color: #2f2b32; }
  .order-info__icon {
    width: 30px;
    height: 30px;
    fill: #cfcfcf;
    color: #535959;
    background-color: #f5f5f5; }

@media (max-width: 828px) {
  .order-info {
    width: 100%;
    overflow: scroll; } }

.lk-order__link {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 15px 0;
  border: 1px solid #d7d7d4;
  background-color: #ebebeb;
  font-family: var(--font);
  font-size: 16px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none; }
  .lk-order__link:hover, .lk-order__link:active {
    border-color: #000; }
  .lk-order__link--submit {
    margin: 0 auto;
    margin-top: 20px; }

.lk-order__input {
  width: 100%; }
  .lk-order__input + .lk-order__input {
    margin-top: 20px; }

@media (max-width: 828px) {
  .lk-order {
    margin-bottom: 40px;
    padding: 0 var(--padding-part); } }

@media (min-width: 828px) {
  .lk-order {
    width: 65%;
    max-width: 720px; }
    .lk-order__link {
      max-width: 320px; }
      .lk-order__link--submit {
        margin-top: 30px; }
    .lk-order__input + .lk-order__input {
      margin-top: 30px; } }

.lk-edit__part + .lk-edit__part {
  margin-top: 20px; }

.lk-edit__part-title {
  width: 100%;
  margin: 0 0 20px;
  font-family: var(--title-font);
  font-size: 20px;
  color: #000; }

.lk-edit__input {
  width: 100%;
  margin-bottom: 20px; }

.lk-edit__submit {
  display: block;
  width: 100%;
  margin: 20px auto 0;
  padding: 15px 0;
  border: 1px solid #d7d7d4;
  background-color: #ebebeb;
  font-family: var(--font);
  font-size: 16px;
  color: #000;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .lk-edit__submit:hover, .lk-edit__submit:active {
    border-color: #000; }

@media (max-width: 828px) {
  .lk-edit {
    margin: 30px 0;
    padding-left: var(--padding-part);
    padding-right: var(--padding-part); } }

@media (min-width: 828px) {
  .lk-edit {
    width: 65%; }
    .lk-edit__part {
      max-width: 720px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-flow: row-reverse wrap;
              flex-flow: row-reverse wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .lk-edit__submit {
      max-width: 320px; } }

@media (min-width: 1200px) {
  .lk-edit__part + .lk-edit__part {
    margin-top: 35px; }
  .lk-edit__input {
    margin-bottom: 30px;
    max-width: 320px; } }

.lk-ticket__select {
  margin-bottom: 20px; }
  .lk-ticket__select .select {
    padding: 20px; }

.lk-ticket__textarea {
  width: 100%; }

@media (max-width: 828px) {
  .lk-ticket {
    margin-bottom: 40px;
    padding: 0 var(--padding-part); } }

@media (min-width: 828px) {
  .lk-ticket {
    width: 65%;
    max-width: 720px; }
    .lk-ticket__select {
      margin-bottom: 30px; }
    .lk-ticket__textarea {
      height: 170px; }
    .lk-ticket .lk-order__link {
      margin-top: 60px; } }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }

.item-news {
  position: relative;
  background-color: #fff; }
  .item-news__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .item-news__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .item-news__date {
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px; }
  .item-news__title {
    font-family: var(--title-font);
    font-size: 15px; }

@media (max-width: 1200px) {
  .item-news {
    width: 32%;
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  .item-news {
    width: 48%;
    margin-bottom: 40px; }
    .item-news__date {
      padding: 0px 10px; }
    .item-news__title {
      padding: 0px 10px 20px; } }

@media (max-width: 470px) {
  .item-news {
    width: 100%; } }

@media (min-width: 1200px) {
  .item-news {
    width: 252px;
    margin-bottom: 13px; }
    .item-news__img {
      height: 310px; }
    .item-news__date {
      margin-top: 20px;
      margin-bottom: 0;
      padding: 0 17px; }
    .item-news__title {
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 0 17px; } }

.wherebuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }
  .wherebuy__addresses, .wherebuy__map {
    width: 100%; }
  .wherebuy__map {
    margin-top: 40px;
    border: 3px solid #fff; }
  .wherebuy__addresses {
    padding: 0px 0px; }

@media (min-width: 768px) {
  .wherebuy {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wherebuy__map {
      width: 59%;
      margin-top: 0px; }
    .wherebuy__addresses {
      width: 39%; } }

@media (min-width: 1200px) {
  .wherebuy {
    height: 700px; }
    .wherebuy__addresses {
      width: 290px; }
    .wherebuy__map {
      width: 700px; } }

.addresses__list {
  max-height: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  border: 1px solid;
  background: #fff; }

@media (min-width: 1024px) {
  .addresses__list {
    margin-top: 30px; } }

@media (min-width: 1200px) {
  .addresses__list {
    margin-top: 45px; } }

.address-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .address-one__icon {
    margin-right: 10px;
    fill: #000; }
  .address-one__info {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 12px;
    font-family: var(--font);
    line-height: 1.7;
    color: #5b5b5b; }
  .address-one + .address-one {
    margin-top: 20px; }

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 20px;
  font-family: var(--font);
  font-size: 14px;
  color: #000;
  width: 100%;
  border: 1px solid;
  background: #fff;
  cursor: pointer; }
  .select-con {
    position: relative; }
    .select-con::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 15px;
      height: 15px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 54 54'%3E%3Cpolygon points='7.3,26 0.3,53.8 25.8,26 0.3,0.2 ' style='&%2310; transform: rotate(90deg);&%2310; transform-origin: center;&%2310;'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 5px; }
  .select__option {
    padding: 10px 20px;
    font-family: var(--font);
    font-size: 14px;
    color: #000; }

.map {
  width: 100%;
  height: 100%; }

.forget {
  padding-top: var(--padding-part); }
  .forget__form {
    display: block;
    max-width: 320px;
    margin: 0 auto; }
  .forget__input {
    width: 100%; }
    .forget__input + .forget__input {
      margin-top: 30px; }
  .forget__btn {
    display: block;
    width: 100%;
    max-width: 260px;
    margin: var(--part-margin) auto 0;
    padding: 15px 0;
    border: 1px solid #d7d7d4;
    background-color: #ebebeb;
    font-family: var(--font);
    font-size: 16px;
    color: #000;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .forget__btn:hover, .forget__btn:active {
      border-color: #000; }
  .forget__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 260px;
    width: 100%;
    margin: 50px auto 0; }
  .forget__link-one {
    font-size: 15px;
    color: #294ea1;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .forget__link-one:hover {
      -webkit-text-decoration-color: currentColor;
              text-decoration-color: currentColor; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: var(--padding-part);
  padding-right: var(--padding-part); }
  .item__preview, .item__chars {
    width: 100%; }
  .item__main-photo {
    width: 100%; }

@media (min-width: 1024px) {
  .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .item__preview, .item__chars {
      width: 49%; } }

.preview-item__main-photo {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }

.preview-item__photos {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.preview-item__prev-photos {
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #d7d7d4;
  cursor: pointer;
  max-width: 20%; }

@media (min-width: 1200px) {
  .preview-item__main {
    height: 510px; }
  .preview-item__photos {
    margin-top: 30px; }
  .preview-item__prev-photos {
    width: 110px;
    height: 110px; } }

.chars-item__price {
  font-family: var(--font);
  color: red;
  font-size: 37px;
  font-weight: 400;
  text-align: right; }

.chars-item__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.chars-item__addcart {
  width: 170px;
  padding: 15px;
  text-align: center;
  font-family: var(--font);
  font-size: 16px;
  color: #000; }

.chars-item__quant {
  margin-right: 30px; }

.chars-item__avail {
  margin-top: 20px;
  margin-left: auto;
  width: 220px; }
  .chars-item__avail .avail-item__text {
    color: #5b5b5b; }

@media (min-width: 1200px) {
  .chars-item {
    margin-bottom: 40px; }
    .chars-item__avail {
      margin-top: 40px; } }

.quant-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 90px;
  height: 30px;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .quant-btns__btn {
    width: 30px;
    height: 100%;
    padding: 0;
    border: none;
    background-color: #ebebeb;
    line-height: 30px;
    font-size: 24px;
    font-family: var(--font);
    font-weight: 300;
    color: #000;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .quant-btns__btn:hover, .quant-btns__btn:active {
      background-color: #bdbcbc; }
  .quant-btns__value {
    width: 30px;
    height: 100%;
    padding: 0;
    text-align: center;
    font-family: var(--font);
    color: #000;
    font-size: 18px;
    border: none; }

.description-item__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 20px 0;
  font-size: 15px;
  color: #000;
  border-bottom: 2px solid #dcdcdc; }

.description-item__name, .description-item__value {
  width: 50%; }

.description-item__name {
  font-weight: 300; }

.description-item__value {
  font-weight: 100; }

.contacts {
  padding: 0 var(--padding-part); }
  .contacts__info {
    max-width: 252px;
    margin-top: 20px; }
  .contacts__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
    color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .contacts__info-item:hover {
      -webkit-text-decoration-color: currentColor;
              text-decoration-color: currentColor; }
    .contacts__info-item + .contacts__info-item {
      margin-top: 20px; }
  .contacts__info-icon {
    height: 30px;
    width: 25px;
    margin-right: 5px; }
  .contacts__form {
    max-width: 675px; }

@media (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contacts__info {
      margin-top: 60px;
      margin-right: 30px; } }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact-form__title {
    width: 100%;
    font-family: var(--title-font);
    font-size: 20px;
    color: #000; }
  .contact-form__input {
    margin-top: 20px;
    width: 100%; }
    .contact-form__input:active, .contact-form__input:focus {
      border-color: #000; }
  .contact-form__textarea {
    width: 100%;
    height: 80px;
    margin-top: 20px; }
    .contact-form__textarea:active, .contact-form__textarea:focus {
      border-color: #000; }
  .contact-form__submit {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    border: 1px solid #d7d7d4;
    background-color: #ebebeb;
    font-family: var(--font);
    font-size: 16px;
    color: #000;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .contact-form__submit:hover, .contact-form__submit:active {
      border-color: #000; }

@media (min-width: 768px) {
  .contact-form__input {
    margin-top: 30px;
    width: 48%;
    max-width: 330px; }
  .contact-form__textarea {
    margin-top: 30px;
    height: 130px; }
  .contact-form__submit {
    margin-top: 30px;
    max-width: 260px; } }

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 var(--padding-part); }
  .download + .subtitle {
    margin-top: var(--part-margin); }

@media (max-width: 828px) {
  .download {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.download-item {
  position: relative;
  line-height: 0; }
  .download-item__img {
    width: 100%;
    height: auto;
    max-height: 320px;
    -o-object-fit: cover;
       object-fit: cover; }
  .download-item__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 5;
    width: 100%;
    height: 79px;
    margin: 0;
    padding: 20px 15px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.32);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .download-item__link {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    color: #000;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
    background-color: #ebebeb;
    -webkit-transition: 0.3;
    -o-transition: 0.3;
    transition: 0.3; }
    .download-item__link:hover {
      -webkit-text-decoration-color: currentColor;
              text-decoration-color: currentColor; }

@media (max-width: 828px) {
  .download-item + .download-item {
    margin-top: 20px; } }

@media (min-width: 828px) {
  .download-item {
    width: 31%; }
    .download-item + .download-item {
      margin-left: 10px; }
    .download-item:nth-child(n+4) {
      margin-top: 10px; }
    .download-item:nth-child(4n) {
      margin-left: 0; }
    .download-item__img {
      height: 320px; } }

@media (min-width: 1200px) {
  .download-item {
    max-width: 252px; }
    .download-item + .download-item {
      margin-left: 10px; }
    .download-item:nth-child(n+4) {
      margin-top: 0; }
    .download-item:nth-child(n+5) {
      margin-top: 10px; }
    .download-item:nth-child(5n) {
      margin-left: 0; } }

.signup {
  padding: 0 var(--padding-part); }
  .signup__title {
    margin-bottom: 30px; }
  .signup__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 20px; }
    .signup__info-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px; }
  .signup .input {
    width: 100%; }
    .signup .input + input {
      margin-top: 20px; }
  .signup__check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px; }
    .signup__check-box {
      width: 20px;
      height: 20px;
      margin-right: 10px; }
  .signup__contacts {
    margin-top: 60px; }

@media (min-width: 828px) {
  .signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 720px;
    margin: 0 auto;
    padding: 0; }
    .signup__info {
      height: 60px;
      margin-bottom: 30px; }
    .signup .input + input {
      margin-top: 30px; }
    .signup__company, .signup__contacts {
      width: 49%; }
    .signup__contacts {
      margin-top: 0; } }

.onecollection__main {
  margin-bottom: var(--part-margin); }

.body {
  background-color: var(--bg-color);
  font-family: var(--font);
  font-weight: 300; }

.page-wherebuy .main,
.page-news .main,
.page-collections .main {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #ebebeb), to(#fff));
  background: -o-linear-gradient(bottom, #ebebeb 60%, #fff 100%);
  background: linear-gradient(0deg, #ebebeb 60%, #fff 100%); }

.page-wherebuy .footer,
.page-news .footer,
.page-collections .footer {
  background-color: #fafafa; }

.page-contacts .main,
.page-item .main,
.page-authforget .main,
.page-wherebuy .main,
.page-news .main,
.page-download .main {
  padding-top: var(--part-margin);
  padding-bottom: var(--part-margin); }

.page-sale .main,
.page-new .main {
  padding-top: var(--part-margin); }

.page-sale .footer,
.page-contacts .footer,
.page-item .footer,
.page-authforget .footer,
.page-new .footer,
.page-download .footer,
.page-lk .footer {
  background-color: #fafafa; }

.content-container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background: #fff; }

@media (min-width: 1024px) {
  .content-container {
    margin-top: 85px;
    margin-bottom: 70px;
    -webkit-box-shadow: 0 0 31px 19px rgba(45, 45, 44, 0.16);
            box-shadow: 0 0 31px 19px rgba(45, 45, 44, 0.16); } }

@media (min-width: 1200px) {
  .content-container {
    max-width: 1169px; } }

.subtitle {
  font-size: 30px;
  text-align: center;
  font-family: var(--title-font); }

@media (min-width: 1200px) {
  .subtitle {
    margin-top: 0;
    margin-bottom: var(--part-margin); } }

.product-item {
  position: relative;
  margin-top: 10px;
  outline: none;
  border: 1px solid #d7d7d4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .product-item__new {
    width: 120px;
    height: 20px;
    fill: #ebebeb;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0; }
  .product-item__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .product-item__img {
    display: block;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .product-item--collection {
    border: none;
    background: #fff; }
    .product-item--collection .product-item__img {
      -o-object-fit: cover;
         object-fit: cover; }
  .product-item__title {
    margin: 0;
    padding: 15px 10px;
    color: #000;
    font-size: 18px;
    font-weight: 300; }
    .product-item__title--collection {
      font-family: var(--title-font);
      font-size: 16px;
      padding-right: 0;
      padding-left: 10px; }
  .product-item__collection {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: var(--font);
    color: var(--light-grey); }
  .product-item__avail {
    padding-left: 20px;
    padding-right: 20px; }
  .product-item__price {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-align: right;
    font-family: var(--font);
    font-weight: bold; }
  .product-item__cart {
    display: none;
    position: absolute; }

.page-onecollection .product-item__cart {
  display: block; }

@media (min-width: 1200px) {
  .product-item {
    max-width: 252px; }
    .product-item__img {
      height: 252px; }
      .product-item__img--collection {
        height: 310px; }
    .product-item__title, .product-item__collection, .product-item__avail, .product-item__price {
      padding-left: 15px;
      padding-right: 15px; }
    .product-item__title {
      padding-top: 20px;
      height: 41px; }
      .product-item__title--collection {
        padding-left: 10px;
        padding-right: 10px; }
    .product-item__collection {
      padding-top: 20px; } }

.avail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .avail-item__text {
    font-size: 15px;
    font-family: var(--font);
    color: var(--light-grey); }
  .avail-item__bar {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 20px;
    margin-left: 10px;
    border: 1px solid var(--light-grey); }
    .avail-item__bar--many .avail-item__progress {
      background-color: var(--progress-green); }
    .avail-item__bar--middle .avail-item__progress {
      background-color: var(--progress-yellow); }
    .avail-item__bar--few .avail-item__progress {
      background-color: var(--progress-red); }
  .avail-item__progress {
    display: inline-block;
    height: 100%; }

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 20px;
  font-family: var(--font);
  font-size: 14px;
  color: #000;
  width: 100%;
  border: 1px solid #d7d7d4;
  background: #fff;
  outline: none;
  cursor: pointer;
  color: #b3b6ba; }
  .select::-webkit-input-placeholder {
    color: #b3b6ba; }
  .select::-moz-placeholder {
    color: #b3b6ba; }
  .select:-ms-input-placeholder {
    color: #b3b6ba; }
  .select::-ms-input-placeholder {
    color: #b3b6ba; }
  .select::placeholder {
    color: #b3b6ba; }
  .select:focus {
    border-color: #000; }
  .select-con {
    display: block;
    position: relative; }
    .select-con::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 15px;
      height: 15px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 54 54'%3E%3Cpolygon points='7.3,26 0.3,53.8 25.8,26 0.3,0.2 ' style='&%2310; transform: rotate(90deg);&%2310; transform-origin: center;&%2310;'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 5px; }
  .select__option {
    padding: 10px 20px;
    font-family: var(--font);
    font-size: 14px;
    color: #000; }

.input {
  border: 1px solid #d7d7d4;
  padding: 20px;
  font-family: var(--font);
  color: #000;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .input::-webkit-input-placeholder {
    color: #b3b6ba;
    font-size: 16px; }
  .input::-moz-placeholder {
    color: #b3b6ba;
    font-size: 16px; }
  .input:-ms-input-placeholder {
    color: #b3b6ba;
    font-size: 16px; }
  .input::-ms-input-placeholder {
    color: #b3b6ba;
    font-size: 16px; }
  .input::placeholder {
    color: #b3b6ba;
    font-size: 16px; }
  .input:focus, .input:active {
    border-color: #000; }
  .input--footer {
    width: 90%;
    padding: 10px; }

.sorting {
  padding: 35px var(--padding-part);
  font-size: 14px;
  color: #b2b3b5;
  font-weight: 300;
  text-align: right; }
  .sorting__select-con {
    display: inline-block;
    max-width: 230px; }
    .sorting__select-con::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 54 54'%3E%3Cpolygon points='7.3,26 0.3,53.8 25.8,26 0.3,0.2 ' style=' fill:%23b2b3b5;transform: rotate(90deg); transform-origin: center;'/%3E%3C/svg%3E"); }
  .sorting .select {
    padding: 10px;
    padding-right: 30px;
    font-size: 14px; }
