<div class="category-filter">
	<h3 class="category-filter__title category-filter__title--grey">
		<span class="category-filter__title-text">
			поиск по категориям
			<svg class="category-filter__title-arrow">
				<use xlink:href="images/icons.svg#arrow-left"></use>
			</svg>
		</span>
	</h3>
	<div class="category-filter__variants variants">
		<label class="variants__one" for="accessories">
			<input class="variants__input" id="accessories" type="checkbox" value="accessories">
			<span class="variants__btn">аксессуары</span>
		</label>
		<label class="variants__one" for="towel">
			<input class="variants__input" id="towel" type="checkbox" value="towel">
			<span class="variants__btn">Полотенцесушители </span>
		</label>
		<label class="variants__one" for="sanfa">
			<input class="variants__input" id="sanfa" type="checkbox" value="sanfa">
			<span class="variants__btn">Санфаянс </span>
		</label>
		<label class="variants__one" for="additional">
			<input class="variants__input" id="additional" type="checkbox" value="additional">
			<span class="variants__btn">Дополнительное оборудование </span>
		</label>
		<label class="variants__one" for="shell-mirrors">
			<input class="variants__input" id="shell-mirrors" type="checkbox" value="shell-mirrors">
			<span class="variants__btn">Раковины и зеркала</span>
		</label>
		<label class="variants__one" for="shower">
			<input class="variants__input" id="shower" type="checkbox" value="shower">
			<span class="variants__btn">Душевые гарнитуры</span>
		</label>
		<label class="variants__one" for="mixer">
			<input class="variants__input" id="mixer" type="checkbox" value="mixer">
			<span class="variants__btn">Смесители</span>
		</label>
		<label class="variants__one" for="sconoce">
			<input class="variants__input" id="sconoce" type="checkbox" value="sconoce">
			<span class="variants__btn">Бра</span>
		</label>
		<label class="variants__one" for="luxury">
			<input class="variants__input" id="luxury" type="checkbox" value="luxury">
			<span class="variants__btn">Luxury options</span>
		</label>
		<div class="variants__one variants__one--btn-con">
			<button class="variants__btn variants__btn--more">
				смотреть все
			</button>
		</div>
	</div>
</div>