<div class="param-filter">
	<h3 class="category-filter__title category-filter__title--grey">
		<span class="category-filter__title-text">
			поиск по параметрам
			<svg class="category-filter__title-arrow">
				<use xlink:href="images/icons.svg#arrow-left"></use>
			</svg>
		</span>
	</h3>
	<div class="param-filter__chars chars-list">
		<div class="chars-list__one">
			<h5 class="chars-list__title">Стиль</h5>
			<label for="c1" class="chars-list__label">
				<input id="c1" class="chars-list__check" type="checkbox">современный
			</label>
			<label for="c2" class="chars-list__label">
				<input id="c2" class="chars-list__check" type="checkbox">классический
			</label>
		</div>
		<div class="chars-list__one">
			<h5 class="chars-list__title">Цвет</h5>
			<label for="c3" class="chars-list__label">
				<input id="c3" class="chars-list__check" type="checkbox">хром
			</label>
			<label for="c4" class="chars-list__label">
				<input id="c4" class="chars-list__check" type="checkbox">белый
			</label>
			<label for="c5" class="chars-list__label">
				<input id="c5" class="chars-list__check" type="checkbox">белый матовый
			</label>
			<label for="c6" class="chars-list__label">
				<input id="c6" class="chars-list__check" type="checkbox">бронза
			</label>
			
		</div>
		
		<div class="chars-list__one">
			<h5 class="chars-list__title">Вид</h5>
			<label for="c7" class="chars-list__label">
				<input id="c7" class="chars-list__check" type="checkbox">для раковины
			</label>
			<label for="c8" class="chars-list__label">
				<input id="c8" class="chars-list__check" type="checkbox">для раковины высокий
			</label>
			<label for="c9" class="chars-list__label">
				<input id="c9" class="chars-list__check" type="checkbox">для биде
			</label>
			<label for="c10" class="chars-list__label">
				<input id="c10" class="chars-list__check" type="checkbox">для ванны
			</label>
			<label for="c11" class="chars-list__label">
				<input id="c11" class="chars-list__check" type="checkbox">для борт ванны
			</label>
			<label for="c12" class="chars-list__label">
				<input id="c12" class="chars-list__check" type="checkbox">для душа
			</label>
			<label for="c13" class="chars-list__label">
				<input id="c13" class="chars-list__check" type="checkbox">душевая стойка
			</label>

			
		</div>

		<div class="chars-list__one">
			<h5 class="chars-list__title">Тип монтажа</h5>
			<label for="c14" class="chars-list__label">
				<input id="c14" class="chars-list__check" type="checkbox">на 1 отверстие
			</label>
			<label for="c15" class="chars-list__label">
				<input id="c15" class="chars-list__check" type="checkbox">на 2 отверстия
			</label>
			<label for="c16" class="chars-list__label">
				<input id="c16" class="chars-list__check" type="checkbox">на 3 отверстия
			</label>
			<label for="c17" class="chars-list__label">
				<input id="c17" class="chars-list__check" type="checkbox">на 4 отверстия
			</label>
			<label for="c18" class="chars-list__label">
				<input id="c18" class="chars-list__check" type="checkbox">на 5 отверстия
			</label>
			<label for="c19" class="chars-list__label">
				<input id="c19" class="chars-list__check" type="checkbox">наружный
			</label>
			<label for="c20" class="chars-list__label">
				<input id="c20" class="chars-list__check" type="checkbox">встраиваемый
			</label>
			
			
		</div>
		<div class="chars-list__one">
			<h5 class="chars-list__title">Управление</h5>
			<label for="c21" class="chars-list__label">
				<input id="c21" class="chars-list__check" type="checkbox">однорычажный
			</label>
			<label for="c22" class="chars-list__label">
				<input id="c22" class="chars-list__check" type="checkbox">двухвентильный
			</label>
			<label for="c23" class="chars-list__label">
				<input id="c23" class="chars-list__check" type="checkbox">термостат
			</label>
			<label for="c24" class="chars-list__label">
				<input id="c24" class="chars-list__check" type="checkbox">электронное
			</label>
			
		</div>
		<div class="chars-list__one">
			<h5 class="chars-list__title">Количество источников</h5>
			<label for="c25" class="chars-list__label">
				<input id="c25" class="chars-list__check" type="checkbox">1
			</label>
			<label for="c26" class="chars-list__label">
				<input id="c26" class="chars-list__check" type="checkbox">2
			</label>
			<label for="c27" class="chars-list__label">
				<input id="c27" class="chars-list__check" type="checkbox">3
			</label>
			<label for="c28" class="chars-list__label">
				<input id="c28" class="chars-list__check" type="checkbox">4
			</label>
			<label for="c29" class="chars-list__label">
				<input id="c29" class="chars-list__check" type="checkbox">5
			</label>
			
		</div>
		<div class="chars-list__one">
			<h5 class="chars-list__title">Комплектущие</h5>
			<label for="c30" class="chars-list__label">
				<input id="c30" class="chars-list__check" type="checkbox">излив
			</label>
			<label for="c31" class="chars-list__label">
				<input id="c31" class="chars-list__check" type="checkbox">переключатель потоков
			</label>
			<label for="c32" class="chars-list__label">
				<input id="c32" class="chars-list__check" type="checkbox">запорный вентиль
			</label>
		</div>
		<div class="chars-list__one">
			<h5 class="chars-list__title">Другие параметры</h5>
			<label for="c33" class="chars-list__label">
				<input id="c33" class="chars-list__check" type="checkbox">керамические белые ручки
			</label>
			<label for="c34" class="chars-list__label">
				<input id="c34" class="chars-list__check" type="checkbox">черные ручки
			</label>
			<label for="c35" class="chars-list__label">
				<input id="c35" class="chars-list__check" type="checkbox">сваровски
			</label>
			<label for="c36" class="chars-list__label">
				<input id="c36" class="chars-list__check" type="checkbox">мураноское стекло
			</label>
			<label for="c37" class="chars-list__label">
				<input id="c37" class="chars-list__check" type="checkbox">хрусталь
			</label>
			<label for="c38" class="chars-list__label">
				<input id="c38" class="chars-list__check" type="checkbox">дерево
			</label>
			
		</div>
		
	</div>
		<div class="variants__one variants__one--btn-con">
			<button class="variants__btn variants__btn--more">
				смотреть все
			</button>
		</div>
</div>