<footer class="footer">
	<div class="footer__items">
		<div class="footer__col">
			<svg class="footer__logo footer__logo--bohemia">
	           <use xlink:href="images/logo.svg#boheme"></use>
	        </svg>
	        <svg class="footer__logo footer__logo--armadi">
	           <use xlink:href="images/logo.svg#armadi"></use>
	        </svg>
			
			
			<a href="tel:+74957492346" class="footer__link footer-link">
				<svg class="footer-link__icon">
	           <use xlink:href="images/icons.svg#phone"></use>
	        </svg>
				+7 (495) 740-23-46 
			</a>
			<a href="tel:+79253213925" class="footer__link footer-link">
				<svg class="footer-link__icon">
	           <use xlink:href="images/icons.svg#phone"></use>
	        </svg>
				+7 (925) 321-39-25 
			</a>
			<a href="mailto:zakaz@boheme.su" class="footer__link footer-link">
				<svg class="footer-link__icon">
	           <use xlink:href="images/icons.svg#mail"></use>
	        </svg>
				zakaz@boheme.su
			</a>
		</div>
		<div class="footer__col">
			<h3 class="footer__title">Продукция</h3>
			<nav class="footer-nav">
				<ul class="footer-nav__list">
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Аксессуары</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Полотенцесушители</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Санфаянс</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Дополнительное оборудование</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Раковины и зеркала</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Душевые гарнитуры</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Смесители</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Бра</a>
					</li>
					<li class="footer-nav__item">
						<a href="" class="footer-nav__link">Luxury options</a>
					</li>

				</ul>
			</nav>
		</div>
		<div class="footer__col">
			<h3 class="footer__title">Новости и рассылки</h3>
			<p class="footer__text">
				Подписка на новости <br>и рассылку с сайта
			</p>
			<form class="footer__subs">
				<input type="text" class="input input--footer">
				<button type="submit" class="footer__sub-btn">
					Подписаться
				</button>

			</form>
		</div>
		<div class="footer__col">
			<p class="footer__text footer__text--privacy">
				<a href="#" class="footer__link">
					Политика конфидициальности
				</a>
				<br>
				© Все права защищены.
			</p>
			<div class="footer__social footer-social">
				<a href="" class="footer-social__link"><svg class="footer-social__icon">
	           <use xlink:href="images/icons.svg#youtube"></use>
	        </svg></a>

				<a href="" class="footer-social__link"><svg class="footer-social__icon">
	           <use xlink:href="images/icons.svg#inst"></use>
	        </svg></a>
				
			</div>
		</div>
	</div>
	<div class="footer__copy footer-copy">
		Сайт разработан
		<svg class="footer-copy__logo">
	           <use xlink:href="images/logo.svg#roskomtech"></use>
	        </svg>
	        <svg class="footer-copy__logo">
	           <use xlink:href="images/logo.svg#armadi"></use>
	        </svg>
	        
	</div>
</footer>
<script src="js/main.js"></script>