<header class="header">
	<button class="header__mobile-menu menu-btn">
		<svg class="menu-btn__icon">
	           <use xlink:href="images/icons.svg#menu"></use>
	        </svg>
	</button>
	<div class="header__top">
		<a href="lk.html" class="header__btn"><svg class="header__btn-icon">
	           <use xlink:href="images/icons.svg#login"></use>
	        </svg></a>
		<a href="auth.html" class="header__btn"><svg class="header__btn-icon">
	           <use xlink:href="images/icons.svg#account"></use>
	        </svg></a>
	</div>
	<div class="header__middle">
        <svg class="header__logo header__logo--boheme">
           <use xlink:href="images/logo.svg#boheme"></use>
        </svg>
        <svg class="header__logo header__logo--armadi">
           <use xlink:href="images/logo.svg#armadi"></use>
        </svg>
	</div>
	<div class="header__bottom">
		<nav class="header__nav">
			<button class="header__mobile-close header__mobile-menu menu-btn">
		<svg class="menu-btn__icon">
	           <use xlink:href="images/icons.svg#close"></use>
	        </svg>
	</button>
			<!-- <button class="">Х</button> -->
			<ul class="header__main-nav main-nav">
				<li class="main-nav__item"><a class="main-nav__link" href="/">Главная</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="#">О компании</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="prod.html">Продукция</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="new.html">Новинки</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="#">Галерея</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="sale.html">Sale</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="wherebuy.html">Где купить</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="news.html">Новости</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="download.html">Скачать</a></li>
				<li class="main-nav__item"><a class="main-nav__link" href="contacts.html">Контакты</a></li>
			</ul>
		</nav>
		<div class="header__mobile-btns">
			<a href="/" class="header__btn">				
				<svg class="header__btn-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 62 60.9" xml:space="preserve">
					<path d="M43.7,31.9c0.7,0.4,1.5,0.8,2.2,1.2c5.7,3.6,9.6,8.5,11.9,14.8c1,2.9,1.5,6,1.6,9.1c0,1.7-1.2,3-2.9,3  c-3.9,0-7.8,0-11.7,0c-7,0-14.1,0-21.1,0c-1.4,0-2.5-0.8-2.9-2c-0.5-1.8,0.7-3.6,2.6-3.6c0.2,0,0.3,0,0.5,0c9.8,0,19.6,0,29.3,0  c0.3,0,0.4-0.1,0.3-0.4c-0.6-4-2.1-7.6-4.7-10.8c-3-3.7-6.8-6.3-11.4-7.7c-0.7-0.2-1.4-0.5-1.9-1.2c-1.1-1.4-0.6-3.4,1-4.2  c1.9-1,3.5-2.3,4.8-4.1c3.4-4.7,2.9-11.3-1.1-15.5C38,8.3,35.3,7,32.2,6.6C25.8,6,19.9,10.5,18.8,16.8c-0.9,5.4,1.7,10.6,6.5,13.1  c0.8,0.4,1.5,1,1.7,1.9c0.4,1.5-0.4,3-2,3.5c-1.4,0.4-2.8,0.9-4.1,1.6c-5,2.5-8.6,6.4-10.8,11.5c-1.2,2.8-1.7,5.7-1.8,8.7  c0,1.5-1,2.7-2.4,2.8c-1.4,0.2-2.7-0.7-3.1-2c-0.2-0.6-0.1-1.3-0.1-1.9c0.2-3.8,1-7.4,2.6-10.8c2.8-5.8,7-10.2,12.7-13.2  c0.1,0,0.2-0.1,0.2-0.1c0,0,0,0,0.1-0.1c-4-4.1-5.9-9.1-5.3-14.8c0.5-4.9,2.7-8.9,6.5-12C26.8-1,37.4-0.3,44,6.4  C50.8,13.3,51,24.8,43.7,31.9z"/>
					<path d="M31.4,57.8c0-0.1-0.1-0.3,0-0.3c0.1,0,0.1,0,0.2,0.1C31.7,57.7,31.4,57.6,31.4,57.8z"/>
					<path d="M27.9,57.8c0.1-0.2,0.1-0.4,0.2-0.4c0.1,0,0.1,0.2,0.2,0.3C28.1,57.7,28,57.7,27.9,57.8z"/>
					<path d="M31.7,57.8c0-0.1,0-0.3,0.2-0.3c0.1,0,0.1,0.2,0.2,0.3C31.9,57.7,31.8,57.7,31.7,57.8z"/>
					<path d="M34.6,57.4c0,0.1,0,0.2,0,0.3C34.3,57.6,34.3,57.6,34.6,57.4z"/>
					<path d="M25.2,57.5c-0.1,0.1,0,0.2-0.1,0.3c-0.1-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2c0.1-0.1,0.1,0,0.1,0.1  C25.2,57.6,25.1,57.4,25.2,57.5z"/>
					<path d="M27.6,57.7c0-0.1-0.1-0.3,0.1-0.3c0.1,0,0.1,0,0.1,0.1C27.8,57.7,27.6,57.6,27.6,57.7z"/>
					<path d="M29.9,57.7c0-0.1-0.1-0.3,0.1-0.3c0.1,0,0.1,0,0.1,0.1C30.2,57.7,30,57.6,29.9,57.7z"/>
					<path d="M33,57.7c0-0.1-0.2-0.1-0.2-0.2c0-0.1,0.1-0.1,0.2-0.1c0,0.1-0.2,0-0.1,0.1C33,57.6,33.2,57.6,33,57.7  c0,0.1-0.1,0.1-0.2,0.1C32.9,57.7,33,57.7,33,57.7z"/>
					<path d="M34,57.4c0.1,0,0.1,0.1,0.1,0.2c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1-0.1-0.1-0.1C33.9,57.5,33.9,57.4,34,57.4z"/>
					<path d="M29.6,57.5c0.1,0,0.1,0,0.1,0.1c0,0.1,0,0.2-0.1,0.2c-0.1,0-0.1,0-0.1-0.1C29.5,57.6,29.5,57.5,29.6,57.5z"/>
					<path d="M29,57.6c0,0.1-0.1,0.2-0.2,0.2c-0.1,0-0.1-0.1-0.1-0.1c0-0.1,0-0.2,0.1-0.2C28.9,57.4,29,57.4,29,57.6  C29,57.6,29,57.6,29,57.6C28.9,57.6,29,57.6,29,57.6z"/>
					<path d="M27.3,57.8c-0.1-0.1,0-0.3-0.2-0.3C27.4,57.4,27.4,57.4,27.3,57.8z"/>
					<path d="M32.7,57.8c-0.1,0-0.2,0.1-0.2,0c0-0.1,0-0.2,0-0.3c0-0.1,0.1,0,0.2,0c-0.1,0,0,0.1,0,0.2  C32.6,57.6,32.6,57.7,32.7,57.8z"/>
					<path d="M26,57.5C26,57.4,26.1,57.4,26,57.5c0.2,0.2,0.2-0.1,0.2-0.1c0.1,0.1-0.1,0.2-0.1,0.3  C26,57.8,26.1,57.6,26,57.5C26,57.5,26,57.5,26,57.5z"/>
					<path d="M26.5,57.4c0.1,0.1,0,0.2,0.1,0.3c0.1,0,0-0.2,0.1-0.3c0,0.1,0.1,0.2,0,0.3c0,0-0.1,0-0.1,0  C26.5,57.7,26.5,57.6,26.5,57.4z"/>
					<path d="M29,57.6c-0.1,0-0.1,0.2-0.2,0.1c0,0,0-0.1,0-0.1C28.9,57.4,28.9,57.6,29,57.6C29,57.6,29,57.6,29,57.6z"/>
					<path d="M30.9,57.6c0.1,0,0.1,0.1,0.2,0.2c0.1,0,0-0.1,0.1-0.1c0.2,0.1,0.1,0.2,0,0.2C31,57.8,30.9,57.7,30.9,57.6z"/>
					<path d="M32,57.6c0.1,0,0.1,0.3,0.3,0c0,0,0.1,0,0.1,0c0,0.1,0,0.1-0.1,0.1C32.2,57.8,32.1,57.7,32,57.6z"/>
					<path d="M26,57.5c0,0.1,0,0.2-0.1,0.2c0-0.1-0.1-0.2-0.1-0.3C25.9,57.4,25.9,57.6,26,57.5C26,57.5,26,57.5,26,57.5z"/>
					<path d="M25.5,57.6c0,0.1,0,0.2,0,0.2c-0.1,0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1,0-0.2C25.3,57.5,25.4,57.5,25.5,57.6  L25.5,57.6z"/>
					<path d="M25.5,57.6c0-0.1,0-0.1,0-0.2c0.1,0,0.1,0,0.1,0.1c0,0.1,0.1,0.1,0,0.2C25.5,57.8,25.5,57.6,25.5,57.6  C25.5,57.6,25.5,57.6,25.5,57.6z"/>
					<path d="M30.3,57.8c0-0.1,0-0.2,0-0.4C30.4,57.5,30.4,57.7,30.3,57.8z"/>
				</svg></a>

			<a href="/" class="header__btn">
	            <svg class="header__btn-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 62 60.9" xml:space="preserve"> <g> <path d="M15.9,60c-0.9-0.2-1.6-0.6-2.2-1.2c-0.5-0.6-0.9-1.4-0.9-2.2c0-0.1,0-0.2,0-0.3c0-8.6,0-17.1,0-25.7 c0-0.1,0-0.2,0-0.4c0.1,0,0.2,0.1,0.2,0.2c1.1,1.1,2.2,2.2,3.2,3.2c0.2,0.2,0.2,0.3,0.2,0.6c0,7.3,0,14.5,0,21.8c0,0.1,0,0.2,0,0.4 c0.1,0.1,0.2,0,0.3,0c13.3,0,26.6,0,39.9,0c0.3,0,0.3,0,0.3-0.3c0-13.3,0-26.6,0-39.9c0-0.1,0-0.2,0-0.3c-0.3,0-0.6,0-0.9,0 c-7.1,0-14.1,0-21.2,0c-0.2,0-0.4-0.1-0.6-0.2c-1.1-1.1-2.2-2.2-3.3-3.3c-0.1-0.1-0.1-0.1-0.2-0.2c0.1-0.1,0.2,0,0.3,0 c8.6,0,17.3,0,25.9,0c0.1,0,0.1,0,0.2,0c1.7,0.1,3.2,1.4,3.5,3.2c0,0.2,0,0.5,0,0.7c0,13.5,0,27,0,40.5c0,0,0,0.1,0,0.1 c0.1,1.1-0.5,2-1.3,2.7c-0.5,0.5-1.2,0.8-1.9,0.8C43.7,60,29.8,60,15.9,60z"/> <path d="M6.9,0.9c0.5,0.1,1,0.2,1.5,0.4c0.5,0.2,0.9,0.5,1.3,0.9c1.6,1.6,3.2,3.2,4.7,4.7c0.1,0.1,0.1,0.2,0,0.3 c-2.1,2.1-4.2,4.2-6.3,6.3c-0.1,0.1-0.2,0.1-0.3,0C6.2,12,4.6,10.5,3,8.9C2.3,8.2,1.8,7.3,1.7,6.3c0,0,0-0.1-0.1-0.1 c0-0.4,0-0.7,0-1.1c0-1,0.4-1.9,1.1-2.6c0.8-0.9,1.7-1.5,3-1.5c0,0,0.1,0,0.1,0C6.2,0.9,6.5,0.9,6.9,0.9z"/> <path d="M40.7,40c-0.9-0.3-1.7-0.6-2.6-0.9c-2.4-0.8-4.7-1.6-7.1-2.3c-0.2-0.1-0.3-0.1-0.4-0.3 C24.4,30.3,18.2,24.1,12,17.9c-0.2-0.2-0.2-0.2,0-0.4c2.1-2.1,4.2-4.2,6.3-6.3c0.2-0.2,0.2-0.1,0.4,0c6.2,6.2,12.4,12.4,18.6,18.6 c0.1,0.1,0.2,0.2,0.2,0.3c1.1,3.2,2.1,6.4,3.2,9.6C40.7,39.9,40.7,39.9,40.7,40z"/> <path d="M57,15.7c0.1,0.1,0,0.2,0,0.3c0,13.3,0,26.7,0,40c0,0.2-0.1,0.3-0.3,0.3c-13.3,0-26.7,0-40,0 c-0.1,0-0.2,0.1-0.3,0c0.1,0,0.2,0,0.4,0c13.2,0,26.5,0,39.7,0c0.5,0,0.4,0.1,0.4-0.4c0-13.2,0-26.5,0-39.7 C57,15.9,57,15.8,57,15.7z"/> <path d="M12.7,30.1c0,0.1,0,0.3,0,0.4c0,8.6,0,17.3,0,25.9c0,0,0,0.1,0,0.1c-0.1-0.1,0-0.3,0-0.4c0-8.6,0-17.1,0-25.7 C12.7,30.3,12.6,30.2,12.7,30.1z"/> <path d="M57.2,12c-0.2,0-0.4,0-0.5,0c-8.5,0-16.9,0-25.4,0c-0.1,0-0.3,0-0.4,0c0.1-0.1,0.2-0.1,0.3-0.1 c8.6,0,17.1,0,25.7,0C57,11.9,57.1,11.9,57.2,12z"/> </g> </svg>
	        </a>
		</div>
	</div>
</header>