<div class="items-list">
	<div class="product-item">
		<!-- если товар новый добавляется элемент -->
		<svg class="product-item__new">
			<use xlink:href="images/icons.svg#new"></use>
		</svg>
		<a href="" class="product-item__link"></a>
		<img src="images/items/product1.jpg" alt="" class="product-item__img">
		<h3 class="product-item__title">Дозатор для жидкого мыла.</h3>
		<p class="product-item__collection">Коллекция Palazzo</p>
		<div class="product-item__avail avail-item">
			<span class="avail-item__text">Наличие</span>
			<!-- цвет шаклы зависит от классов: avail-item__bar--many - цвет зеленый, avail-item__bar avail-item__bar--middle - цвет желтый, avail-item__bar--few - цвет красный -->
			<div class="avail-item__bar avail-item__bar--few">
				<!-- В процентах указывается наличие -->
				<span class="avail-item__progress" style="width: 20%"></span>
			</div>
			<!-- <span class="avail-item__bar avail-item__bar--few"></span> -->
			<!-- <span class="avail-item__bar avail-item__bar--middle"></span> -->

		</div>
		<p class="product-item__price">
			5000 ₽
		</p>
	</div>
	<div class="product-item">
		<!-- если товар новый добавляется элемент -->
		<svg class="product-item__new">
			<use xlink:href="images/icons.svg#new"></use>
		</svg>
		<a href="" class="product-item__link"></a>
		<img src="images/items/product2.jpg" alt="" class="product-item__img">
		<h3 class="product-item__title">Держатель для туалетной бумаги</h3>
		<p class="product-item__collection">Коллекция Palazzo</p>
		<div class="product-item__avail avail-item">
			<span class="avail-item__text">Наличие</span>
			<!-- цвет шаклы зависит от классов: avail-item__bar--many - цвет зеленый, avail-item__bar avail-item__bar--middle - цвет желтый, avail-item__bar--few - цвет красный -->
			<div class="avail-item__bar avail-item__bar--middle">
				<!-- В процентах указывается наличие -->
				<span class="avail-item__progress" style="width: 45%"></span>
			</div>
			<!-- <span class="avail-item__bar avail-item__bar--few"></span> -->
			<!-- <span class="avail-item__bar avail-item__bar--middle"></span> -->

		</div>
		<p class="product-item__price">
			5000 ₽
		</p>
	</div>
	<div class="product-item">
		<!-- если товар новый добавляется элемент -->
		<svg class="product-item__new">
			<use xlink:href="images/icons.svg#new"></use>
		</svg>
		<a href="" class="product-item__link"></a>
		<img src="images/items/product3.jpg" alt="" class="product-item__img">
		<h3 class="product-item__title">Дозатор для жидкого мыла</h3>
		<p class="product-item__collection">Коллекция Murano</p>
		<div class="product-item__avail avail-item">
			<span class="avail-item__text">Наличие</span>
			<!-- цвет шаклы зависит от классов: avail-item__bar--many - цвет зеленый, avail-item__bar avail-item__bar--middle - цвет желтый, avail-item__bar--few - цвет красный -->
			<div class="avail-item__bar avail-item__bar--few">
				<!-- В процентах указывается наличие -->
				<span class="avail-item__progress" style="width: 20%"></span>
			</div>
			<!-- <span class="avail-item__bar avail-item__bar--few"></span> -->
			<!-- <span class="avail-item__bar avail-item__bar--middle"></span> -->

		</div>
		<p class="product-item__price">
			5000 ₽
		</p>
	</div>
	<div class="product-item">
		<!-- если товар новый добавляется элемент -->
		<svg class="product-item__new">
			<use xlink:href="images/icons.svg#new"></use>
		</svg>
		<a href="" class="product-item__link"></a>
		<img src="images/items/product4.jpg" alt="" class="product-item__img">
		<h3 class="product-item__title">Смеситель</h3>
		<p class="product-item__collection">Коллекция Crystall</p>
		<div class="product-item__avail avail-item">
			<span class="avail-item__text">Наличие</span>
			<!-- цвет шаклы зависит от классов: avail-item__bar--many - цвет зеленый, avail-item__bar avail-item__bar--middle - цвет желтый, avail-item__bar--few - цвет красный -->
			<div class="avail-item__bar avail-item__bar--many">
				<!-- В процентах указывается наличие -->
				<span class="avail-item__progress" style="width: 70%"></span>
			</div>
			<!-- <span class="avail-item__bar avail-item__bar--few"></span> -->
			<!-- <span class="avail-item__bar avail-item__bar--middle"></span> -->

		</div>
		<p class="product-item__price">
			5000 ₽
		</p>
	</div>
	<div class="product-item">
		<!-- если товар новый добавляется элемент -->
		<svg class="product-item__new">
			<use xlink:href="images/icons.svg#new"></use>
		</svg>
		<a href="" class="product-item__link"></a>
		<img src="images/items/product5.jpg" alt="" class="product-item__img">
		<h3 class="product-item__title">Полотенцесушитель</h3>
		<p class="product-item__collection">Коллекция Palazzo</p>
		<div class="product-item__avail avail-item">
			<span class="avail-item__text">Наличие</span>
			<!-- цвет шаклы зависит от классов: avail-item__bar--many - цвет зеленый, avail-item__bar avail-item__bar--middle - цвет желтый, avail-item__bar--few - цвет красный -->
			<div class="avail-item__bar avail-item__bar--many">
				<!-- В процентах указывается наличие -->
				<span class="avail-item__progress" style="width: 70%"></span>
			</div>
			<!-- <span class="avail-item__bar avail-item__bar--few"></span> -->
			<!-- <span class="avail-item__bar avail-item__bar--middle"></span> -->

		</div>
		<p class="product-item__price">
			5000 ₽
		</p>
	</div>
</div>