<aside class="lk__aside lk-menu">
	<h4 class="lk-menu__title">Ваши заказы</h4>
	<a href="/lk-orderlist.html" class="lk-menu__item">История заказов</a>
	<a href="lk-order.html" class="lk-menu__item">Заказать товар</a>
	<h4 class="lk-menu__title">Служба поддержки</h4>
	<a href="lk-ticket.html" class="lk-menu__item">Создать обращение</a>
	<a href="lk-ticketlist.html" class="lk-menu__item">История обращений</a>
	<h4 class="lk-menu__title">Профиль</h4>
	<a href="/lk-edit.html" class="lk-menu__item">Контактные данные</a>
	<a href="/" class="lk-menu__item">Адрес доставки</a>
	<a href="/" class="lk-menu__item">Выйти</a>
	
</aside>