<div class="pagination">
				<a href="" class="pagination__link-arrow"><svg class="pagination__link-icon">
			           <use xlink:href="images/icons.svg#arrow-left"></use>
			        </svg></a>
			    <a href="#" class="pagination__link">1</a>
			    <a href="#" class="pagination__link">2</a>
				<a href="" class="pagination__link-arrow"><svg class="pagination__link-icon">
			           <use xlink:href="images/icons.svg#arrow-right"></use>
			        </svg></a>
			</div>