.category-filter{
	&__title{
		position: relative;
		margin: 0 auto;
		padding: 15px 0;
		font-family: var(--title-font);
		font-size: 16px;
		color: #394145;
		text-align: center;
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: calc(100% - 2 * var(--part-margin));
			height: 1px;
			background-color: #394145;
		}
		&-text{
			position: relative;
			z-index: 5;
			padding: 0 20px;
			background-color: #fff;

		}
		&--grey{
			.category-filter__title-text{
				background-color: var(--footer-bg);
			}
			&::before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				background-color: var(--footer-bg);
			}
		}
		&-arrow{
			height: 25px;
			width: 15px;
			margin-left: 20px;
			transform: rotate(-90deg);
			vertical-align: middle;
		}
	}
	&__variants{
		margin: var(--part-margin) 0;
		padding-left: var(--padding-part);
		padding-right: var(--padding-part);
	}
}
.variants{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
  	&__one:nth-child(n+9):not(&__one--btn-con) {
  		display: none;
  	}
  	&--show-all{
  		.variants__one:nth-child(n+9){
  			display: block;
  		}
  	}
	&__one{
		position: relative;
		width: 49%;
		margin-top: 15px;
		&--btn-con{
			width: 100%;
		}
	}
	&__input{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		&:checked ~ .variants__btn{
			border-color: #000;
			color: #000;
		}
	}
	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 53px;
		padding: 7px 0;
		text-align: center;
		font-family: var(--font);
		font-weight: 300;
		text-transform: lowercase;
		color: #b3b6ba;
		border: 1px solid #b3b6ba;
		cursor: pointer;
		outline: none;
		transition: 0.3s;
		box-sizing: border-box;
		&:hover{
			border-color: #000;
			color: #000;
		}
		&--more{
			width: 49%;
			margin-left: auto;
			margin-right: auto;
			color: #000;
			border-color: #000;
			background: var(--footer-bg);
		}

	}
}
@media(min-width: 828px){
	.variants{
		&__one{
			display: block;
			width: 32%;
			max-width: 252px;
			&--btn-con{
				width: 100%;
				max-width: unset;
			}
		}
		&__btn{
			height: auto;
			padding: 10px 0;
			&--more{
				width: 32%;
				max-width: 252px;
			}

		}
	}
}
@media(min-width: 1024px){
	.variants{
		&__one{
		}
		&__btn{
			padding: 15px 0;
		}
	}
}
.param-filter{
	margin-bottom: var(--part-margin);
	&__chars{
		margin: var(--part-margin) 0 0;
		padding-left: var(--padding-part);
		padding-right: var(--padding-part);
	}
}
.chars-list{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	clear: both;
	&__one{
		width: 48%;
		margin-top: 30px;
		& + &{
		}
	}
	&__title{
		margin: 0 0 10px;
		height: 40px;
		font-size: 16px;
		font-weight: 300;
		color: #000;
	}
	&__label{
		// display: flex;
		display: block;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		font-size: 12px;
		color: #d7d7d7;
		& + &{
			margin-top: 10px;
		}
	}
	&__check{
		margin-right: 5px;
		width: 18px;
		height: 18px;
		float: left;
		border-color: #d7d7d7;
		outline: none;
	}
}
@media (min-width: 828px){
	.chars-list{
		justify-content: flex-start;
		&__one{
			margin-top: 20px;
			width: 19%;
			& + &{
				margin-left: 10px;
			}
		}
		&__title{
			margin-bottom: 20px;
		}
	}

}
@media (min-width: 1200px){
	.chars-list{
		flex-wrap: nowrap;
		&__one{
			width: 100%;
	    	max-width: calc(100% / 8);
			margin-top: 0;
		}
		& + .variants__one--btn-con{
			margin-top: 30px;
		}
	}
}