.footer{
	&__items{
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		padding-left: var(--padding-part);
		padding-right: var(--padding-part);
		padding-top: 20px;
	}
	&__copy{
	}
	&__col{
		flex-basis: 100%;
	}
	&__logo{
		&--bohemia{
			max-width: 125px;
			max-height: 55px;
		}
		&--armadi{
			max-width: 130px;
			max-height: 20px;
			margin-bottom: 20px;
		}
	}
	&__title{
		font-family: var(--title-font);
		font-size: 18px;

	}
	&__text{
		font-family: var(--font);
		font-size: 15px;
	}
	&__link{
		color: #000;
		text-decoration: none;
	}
	&__sub-btn{
		margin-top: 20px;
	    padding: 10px 15px;
	    border: 1px solid #b3b6ba;
	    background-color: #b3b6ba;
	    font-family: var(--font);
	    font-size: 16px;
	    color: #fff;
	    cursor: pointer;
	    outline: none;
	    transition: 0.3s;
	    &:hover, &:focus{
	    	border-color: #000;
	    	color: #000;
	    }
	}
}
@media (max-width: 768px){
	.footer{
		&__col{
			& + &{
				margin-top: 20px;
			}
		}
	}
}
@media (min-width: 768px){
	.footer{
		&__items{
			flex-flow: row wrap;
		}
		&__col{
			flex-basis: 49%;
		}
	}
}
@media (min-width: 1024px){
	.footer{
		&__items{
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: space-between;
			padding-top: 50px;
			padding-bottom: 65px;
		}
		&__col{
			flex-basis: 252px;
		}
		&__logo{
			&--armadi{
				margin-bottom: 50px;
			}
		}
		&__title{
			margin-top: 10px;
			margin-bottom: 20px;
		}
		&__text{
			&--privacy{
				margin-top: 70px;
			}
		}
	}
}
@media (min-width: 1200px){
	.footer{
		&__items{
			padding-top: 70px;
			padding-bottom: 85px;

		}
		&__logo{
			&--armadi{
				margin-bottom: 70px;
			}
		}
		&__title{
			margin-top: 20px;
			margin-bottom: 30px;
		}
		&__text{
			&--privacy{
				// margin-top: 70px;
			}
		}
	}
}

.footer-link{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	width: fit-content;
	text-decoration: none;
	color: #000;
	font-size: 15px;
	font-family: var(--font);
	font-weight: 300;
	&__icon{
		width: 20px;
		height: 20px;
		fill: #000;
		margin-right: 15px;
	}
	& + &{
		margin-top: 20px;
	}
}
.footer-nav{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{
		font-family: var(--font);
		& + &{
			margin-top: 10px;
		}
	}
	&__link{
		text-decoration: none;
		color: #000;
	}
}
.footer-social{
	&__icon{
		width: 30px;
		height: 30px;
	}
}
.footer-copy{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: #000;
	padding: 15px 0;
	color: #fff;
	font-family: var(--font);
	&__logo{
		width: 115px;
		max-height: 25px;
		margin-left: 10px;
	}
}
.page{
	&-index .footer{
		background-color: var(--footer-bg);
	}
}