.header{
	position: relative;
	padding-left: var(--padding-part);
	padding-right: var(--padding-part);
	&__top{
		text-align: right;
	}
	&__middle{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__bottom{

	}
	&__logo{
		max-width: 180px;
		max-height: 70px;
	}
	&__btn-icon{
		width: 20px;
		height: 20px;
		fill: #BCBEC2;
		transition: 0.3s;
	}
	&__mobile-close,
	&__mobile-menu,
	&__mobile-btns{
		display: none;
	}
	&__btn{
		& + &{
			margin-left: 20px;
		}
		&:hover &-icon{
			transform: scale(1.1);
		}
	}
}
@media (max-width: 1024px){
	.header{
		padding-top: 20px;
		padding-bottom: 20px;
		&__top{
			display: none;
		}
		&__bottom{
			display: block;
			position: absolute;
			top: 0;
			left: 0%;
			z-index: 110;
			transition: 0.5s;
			width: 100%;
			padding: 20px;
			visibility: hidden;
			transform: translate(-100%, 0);
			box-sizing: border-box;
			background-color: rgba(255, 255, 255, 0.8);
			&--menu-open{
				visibility: visible;
				transform: translate(0%, 0);
			}
		}
		&__mobile-close{
			display: block;
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 5;
		}
		&__mobile-menu,
		&__mobile-btns{
			display: block;
		}
		&__mobile-menu{
			margin-left: auto;
		}
		&__mobile-btns{
			margin-top: 20px;
			.header__btn{
				& + .header__btn{
					margin-left: 20px;
				}
			}
			.header__btn-icon{
				width: 30px;
				height: 30px;
			}

		}
	}

}
@media (min-width: 1024px){
	.header{
		padding-top: 20px;
		padding-bottom: 20px;
		&__top{
			margin-bottom: -25px;
		}
		&__bottom{
			margin-top: 30px;
		}
	}
}
@media (min-width: 1200px){
	.header{
		padding-top: 30px;
		padding-bottom: 40px;
	}
}
.header__btn-icon{
}
.main-nav{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: var(--title-font);
	&__link{
		text-decoration: none;
		color: #000;
		font-size: 18px;
	}
}
@media (max-width: 1024px){
	.main-nav{
		display: block;
		&__item{
			display: block;
			& + &{
				margin-top: 20px;
			}
		}
		&__link{
			display: block;
			padding: 5px 0;
		}
	}
}
.menu-btn{
	width: 30px;
	height: 30px;
	padding: 0;
	border: none;
	background: transparent;
	outline: none;
	&:focus, &:hover{
		transform: scale(1.1);
	}
	&__icon{
		width: 100%;
		height: 100%;
		fill: #000;
	}
}