.lk-menu{
	&__title{
		margin: 0 0 10px;
		padding: 10px 20px;
		padding-left: var(--padding-part);
		font-family: var(--title-font);
		font-size: 20px;
		background-color: var(--footer-bg);
	}
	&__item{
		padding-left: var(--padding-part);
		display: block;
		font-family: var(--font);
		font-weight: 300;
		font-size: 15px;
		color: var(--lk-color);
		text-decoration: none;
		& + &{
			margin-top: 10px;
		}
		& + .lk-menu__title{
			margin-top: 30px;
		}
	}
}
@media (min-width: 1200px){
	.lk-menu{
		width: calc(var(--padding-part) + 252px);
		&__title{
			padding-left: var(--padding-part);
			margin-bottom: 30px;
		}
		&__item{
			padding-left: var(--padding-part);
			& + .lk-menu__title{
				margin-top: 40px;
			}
		}
	}
}