.video{
	width: 100%;
	&__con{
		position: relative;
		padding-top: 56.25%;
	}
	&__one{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}
.page-onecollection{
	.index-coll{
		padding-top: 0;
	}
}
.index-coll{
	padding-top: var(--part-margin);
	padding-left: var(--padding-part);
	padding-right: var(--padding-part);
	background: radial-gradient(#fff, #d7d7d4);
	.slider__btn-arrow{
		fill: #fff;
	}
	&__item{
		background: #fff;
	}
	&__slider{
		position: relative;
		margin-top: 0;
		padding-top: var(--part-margin);;
		padding-bottom: var(--part-margin);;
		padding-left: 0;
		padding-right: 0;
		// padding: var(--part-margin) 0;
		.slider__btn--left{
			left: -45px;
		}
		.slider__btn--right{
			right: -45px;
		}
	}
	.product-item{
		max-width: unset;
		margin: 5px;
	}
}
.index-collection{
	display: flex!important;
	flex-flow: column-reverse nowrap;
	align-items: flex-start;
	justify-content: space-between;
	&__photo-con,
	&__description{
		box-sizing: border-box;
		width: 100%;
	}
	&__photo-con{
		line-height: 0;
	}
	&__photo{
		width: 100%;
	}
	&__brand{
		display: block;
		width: 170px;
		height: 50px;
		margin-left: auto;
	}
	&__name{
		margin: 0;
		margin-top: 10px;
		font-size: 30px;
		font-family: var(--title-font);
	}
	&__title{
		margin: 20px 0;
		font-family: var(--title-font);
		font-size: 43px;
	}
	&__text{
		font-family: var(--font);
		font-size: 15px;
		line-height: 1.5;
		margin-bottom: 20px;
		& + &{

		}
	}
	
}
@media (min-width: 768px) {
	.index-collection{
		flex-flow: row nowrap;
		&__photo-con,
		&__description{
			width: 49%;
		}
		&__photo{
			max-height: 690px;
		}
		&__description{
			padding-left: 40px;
		}
		&__title{
			margin: 40px 0;
		}
	}
}
// .collection-item{
// 	background-color: #fff;
// 	&__preview{
// 		display: block;
// 	}
// 	&__title{
// 		font-family: var(--title-font);
// 		font-size: 24px;
// 	}
// }
// @media (min-width: 1200px){
// 	.collection-item{
// 		&__preview{
// 			height: 310px;
// 		}
// 		&__title{
// 			padding: 30px 25px;
// 		}
// 	}
// }
