.wherebuy{
	display: flex;
	flex-flow: column nowrap;
	padding-left: var(--padding-part);
	padding-right: var(--padding-part);
	&__addresses,
	&__map{
		width: 100%;
	}
	&__map{
		margin-top: 40px;
		border: 3px solid #fff;
	}
	&__addresses{
		padding: 0px 0px;
	}
}
@media(min-width: 768px){
	.wherebuy{
		flex-flow: row nowrap;
		align-items: stretch;
		justify-content: space-between;

		&__map{
			width: 59%;
			margin-top: 0px;
		}
		&__addresses{
			width: 39%;
		}
	}
}
@media(min-width: 1024px){
	.wherebuy{
		&__map{
		}
		&__addresses{
		}

	}
}
@media(min-width: 1200px){
	.wherebuy{
		height: 700px;
		&__addresses{
			width: 290px;
		}
		&__map{
			width: 700px;
		}

	}
}
.addresses{
	&__select{
	}
	&__list{
		max-height: 100%;
		margin-top: 20px;
		overflow-y: scroll;
		border: 1px solid; 
		background: #fff;

	}
}
@media(min-width: 1024px){
	.addresses{
		&__list{
			margin-top: 30px;
		}

	}
}
@media(min-width: 1200px){
	.addresses{
		&__list{
			margin-top: 45px;
		}

	}
}
.address-one{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&__icon{
		margin-right: 10px;
		fill: #000;
	}
	&__info{
		margin: 0;
		flex-grow: 1;
		font-size: 12px;
		font-family: var(--font);
		line-height: 1.7;
		color: #5b5b5b;
	}
	& + &{
		margin-top: 20px;
	}
}
.select{
	appearance: none;
	padding: 10px 20px;
	font-family: var(--font);
	font-size: 14px;
	color: #000;
	width: 100%;
	border: 1px solid; 
	background: #fff;
	cursor: pointer;
	&-con{
		position: relative;
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0,-50%);
			width: 15px;
			height: 15px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 54 54'%3E%3Cpolygon points='7.3,26 0.3,53.8 25.8,26 0.3,0.2 ' style='&%2310; transform: rotate(90deg);&%2310; transform-origin: center;&%2310;'/%3E%3C/svg%3E");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 0 5px;
		}
	}
	&__option{
		padding: 10px 20px;
		font-family: var(--font);
		font-size: 14px;
		color: #000;
	}
}
.map{
	width: 100%;
	height: 100%;
}