.lk-ticket{
	&__select{
		margin-bottom: 20px;
		.select{
			padding: 20px;
		}
	}
	&__textarea{
		width: 100%;

	}
}
@media (max-width: 828px){
	.lk-ticket{
		margin-bottom: 40px;
		padding: 0 var(--padding-part);
	}
}
@media (min-width: 828px){
	.lk-ticket{
		width: 65%;
		max-width: 720px;
		&__select{
			margin-bottom: 30px;
		}
		&__textarea{
			height: 170px;
		}
		.lk-order__link{
			margin-top: 60px;
		}
	}
}
