.lk-order{
	&__link{
		display: block;
	    width: 100%;
	    margin-bottom: 20px;
	    margin-left: auto;
	    padding: 15px 0;
	    border: 1px solid #d7d7d4;
	    background-color: #ebebeb;
	    font-family: var(--font);
	    font-size: 16px;
	    color: #000;
	    cursor: pointer;
	    text-decoration: none;
	    text-align: center;
	    outline: none;
	    &:hover, &:active{
		    border-color: #000;
		}
		&--submit{
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	&__input{
		width: 100%;
		& + &{
			margin-top: 20px;
		}
	}
}
@media (max-width: 828px){
	.lk-order{
		margin-bottom: 40px;
		padding: 0 var(--padding-part);
	}
}
@media (min-width: 828px){
	.lk-order{
		width: 65%;
		max-width: 720px;
		&__link{
			max-width: 320px;
			&--submit{
				margin-top: 30px;
			}
		}
		&__input{
			& + &{
				margin-top: 30px;
			}
		}
	}
}		