.download{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0 var(--padding-part);
	& + .subtitle{
		margin-top: var(--part-margin);
	}
}
@media (max-width: 828px){
	.download{
		justify-content: center;
	}

}
@media (min-width: 828px){
	.download{
		// justify-content: space-between;
	}
}
.download-item{
	position: relative;
	line-height: 0;
	&__img{
		width: 100%;
		height: auto;
		max-height: 320px;
		object-fit: cover;
	}
	&__title{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
		z-index: 5;
		width: 100%;
		height: 79px;
		margin: 0;
		padding: 20px 15px;
		font-weight: 300;
		color: #fff;
		line-height: 1.2;
		background-color: rgba(0, 0, 0, 0.32);
		box-sizing: border-box;
	}
	&__link{
		display: block;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		text-align: center;
		font-weight: 300;
		color: #000;
		text-decoration-color: transparent;
		background-color: #ebebeb;
		transition:0.3;
		&:hover{
			text-decoration-color: currentColor;
		}
	}
}
@media (max-width: 828px){
	.download-item{
		& + &{
			margin-top: 20px;
		}
	}

}

@media (min-width: 828px){
	.download-item{
		width: 31%;
		& + &{
			margin-left: 10px;
		}
		&:nth-child(n+4){
			margin-top: 10px;
		}
		&:nth-child(4n){
			margin-left: 0;
		}
		&__img{
			height: 320px;
		}
	}
}
@media (min-width: 1200px){
	.download-item{
		max-width: 252px;
		& + &{
			margin-left: 10px;
		}
		&:nth-child(n+4){
			margin-top: 0;
		}
		&:nth-child(n+5){
			margin-top: 10px;
		}
		&:nth-child(5n){
			margin-left: 0;
		}
	}
}

