.item{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	padding-left: var(--padding-part);
	padding-right: var(--padding-part);
	&__preview,
	&__chars{
		width: 100%;
	}
	&__main{
		&-photo{
			width: 100%;
		}
	}
}
@media (min-width: 1024px){
	.item{
		flex-flow: row nowrap;
		justify-content: space-between;
		&__preview,
		&__chars{
			width: 49%;
		}
	}
}
@media (min-width: 1200px){
	.item{}
}
.preview-item{
	&__main{
		&-photo{
			width: 100%;
			height: 100%;
			transition: 0.3s;
			opacity: 1;
		}
	}
	&__photos{
		margin-top: 20px;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}
	&__prev-photos{
		object-fit: contain;
		border: 1px solid #d7d7d4;
		cursor: pointer;
		max-width: 20%;
	}

}
@media (min-width: 1200px){
	.preview-item{
		&__main{
			height: 510px;
		}
		&__photos{
			margin-top: 30px;
		}
		&__prev-photos{
			width: 110px;
			height: 110px;
		}	
	}
}
.chars-item{
	&__price{
		font-family: var(--font);
		color: red;
		font-size: 37px;
		font-weight: 400;
		text-align: right;
	}
	&__btns{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-end;
	}
	&__addcart{
		width: 170px;
		padding: 15px;
		text-align: center;
		font-family: var(--font);
		font-size: 16px;
		color: #000;
	}
	&__quant{
		margin-right: 30px;
	}
	&__avail{
		margin-top: 20px;
		margin-left: auto;
		width: 220px;
		.avail-item__text{
			color: #5b5b5b;
		}
	}
}
@media (min-width: 1200px){
	.chars-item{
		margin-bottom: 40px;
		&__avail{
			margin-top: 40px;
		}
	}
}
.quant-btns{
	display: flex;
	flex-flow: row nowrap;
	width: 90px;
	height: 30px;
	border: 1px solid #000;
	box-sizing: border-box;
	&__btn{
		width: 30px;
		height: 100%;
		padding: 0;
		border: none;
		background-color: #ebebeb;
		line-height: 30px;
		font-size: 24px;
		font-family: var(--font);
		font-weight: 300;
		color: #000;
		outline: none;
		transition: 0.3s;
		cursor: pointer;
		&:hover, &:active{
			background-color: #bdbcbc;
		}
	}
	&__value{
		width: 30px;
		height: 100%;
		padding: 0;
		text-align: center;
		font-family: var(--font);
		color: #000;
		font-size: 18px;
		border: none;
	}
}
.description-item{
	&__one{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 20px 0;
		font-size: 15px;
		color: #000;
		border-bottom: 2px solid #dcdcdc;
	}
	&__name,
	&__value{
		width: 50%;
	}
	&__name{
		font-weight: 300;
	}
	&__value{
		font-weight: 100;
	}
}
