.contacts{
	padding: 0 var(--padding-part);
	&__info{
		max-width: 252px;
		margin-top: 20px;
	}
	&__info-item{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		font-size: 15px;
		font-weight: 300;
		text-decoration-color: transparent;
		color: #000;
		transition: 0.3s;
		&:hover{
			text-decoration-color: currentColor;
		}
		& + &{
			margin-top: 20px;
		}
	}
	&__info-icon{
		height: 30px;
		width: 25px;
		margin-right: 5px;
	}
	&__form{
		max-width: 675px;
	}

}

@media (min-width: 768px){
	.contacts{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;
		&__info{
			margin-top: 60px;
			margin-right: 30px;
		}
	}
}
.contact-form{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	&__title{
		width: 100%;
		font-family: var(--title-font);
		font-size: 20px;
		color: #000;
	}
	&__input{
		margin-top: 20px;
		width: 100%;
		&:active,&:focus{
			border-color: #000;
		}
	}
	&__textarea{
		width: 100%;
		height: 80px;
		margin-top: 20px;
		&:active,&:focus{
			border-color: #000;
		}
	}
	&__submit{
		display: block;
		width: 100%;
		margin-top: 20px;
		padding: 15px 0;
		border: 1px solid #d7d7d4;
		background-color: #ebebeb;
		font-family: var(--font);
		font-size: 16px;
		    color: #000;
		    cursor: pointer;
		    outline: none;
		    transition: 0.3s;
		    &:hover, &:active {
			    border-color: #000;
			}
	}
}
@media(min-width: 768px){
	.contact-form{
		&__input{
			margin-top: 30px;
			width: 48%;
			max-width: 330px;
		}
		&__textarea{
			margin-top: 30px;
			height: 130px;
		}
		&__submit{
			margin-top: 30px;
			max-width: 260px;
		}
	}
}