.lk-edit{
	&__part{
		& + &{
			margin-top: 20px;
		}
	}
	&__part-title{
		width: 100%;
		margin: 0 0 20px;
		font-family: var(--title-font);
		font-size: 20px;
		color: #000;
	}
	&__input{
		width: 100%;
		margin-bottom: 20px;
	}
	&__submit{
		display: block;
		width: 100%;
		margin: 20px auto 0;
		padding: 15px 0;
		border: 1px solid #d7d7d4;
		background-color: #ebebeb;
		font-family: var(--font);
		font-size: 16px;
		color: #000;
		cursor: pointer;
		outline: none;
		transition: 0.3s;
		&:hover, &:active {
		    border-color: #000;
		}
	}
}
@media (max-width: 828px){
	.lk-edit{
		margin: 30px 0;
		padding-left: var(--padding-part);
		padding-right: var(--padding-part);
	}

}
@media (min-width: 828px){
	.lk-edit{
		width: 65%;
		&__part{
			max-width: 720px;
			display: flex;
			flex-flow: row-reverse wrap;
			align-items: center;
			justify-content: space-between;
		}
		&__submit{
			max-width: 320px;
		}
	}
}
@media (min-width: 1200px){
	.lk-edit{
		&__part{
			& + &{
				margin-top: 35px;
			}
		}
		&__input{
			margin-bottom: 30px;
			max-width: 320px;
		}
	}	
}