.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--part-margin);
	margin-bottom: var(--part-margin);
	&__link{
		width: 33px;
		height: 33px;
		line-height: 33px;
		font-family: var(--font);
		font-size: 18px;
		color: #d7d7d4;
		text-align: center;
		border: 1px solid currentColor;
		text-decoration: none;
		transition: 0.3s;
		&:hover{
			color: var(--text-grey);
			border-color: #000;
		}
		&-arrow{
			margin: 0 15px;
			line-height: 0;
			text-decoration: none;
			&:hover .pagination__link-icon{
				fill: var(--text-grey);
			}
		}
		&-icon{
			max-width: 23px;
			height: 33px;
			fill: #d7d7d4;
			transition: 0.3s;
		}
		& + &{
			margin-left: 10px;
		}
	}
}

@media (min-width: 1200px){
	.pagination{
		&__link{
			
		}
	}
}