.forget{
	padding-top: var(--padding-part);
	&__form{
		display: block;
		max-width: 320px;
		margin: 0 auto;
	}
	&__input{
		width: 100%;
		& + &{
			margin-top: 30px;
		}
	}
	&__btn{
		display: block;
		width: 100%;
		max-width: 260px;
		margin: var(--part-margin) auto 0;
		padding: 15px 0;
		border: 1px solid #d7d7d4;
		background-color: #ebebeb;
		font-family: var(--font);
		font-size: 16px;
		color: #000;
		cursor: pointer;
		outline: none;
		transition: 0.3s;
		&:hover,
		&:active{
			border-color: #000;
		}
	}
	&__links{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		max-width: 260px;
		width: 100%;
		margin: 50px auto 0;

	}
	&__link-one{
		font-size: 15px;
		color: #294ea1;
		text-decoration-color: transparent;
		transition: 0.3s;
		&:hover{
			text-decoration-color: currentColor;
		}
	}
}