.order-list{
	&__show-items{
		display: block;
		max-width: 230px;
		margin-left: auto;
		margin-bottom: 30px;
		padding: 15px 30px;
		font-family: var(--font);
		font-size: 16px;
		color: #000;
		text-align: center;
		text-decoration: none;
		background-color: #ebebeb;
		border: 1px solid #d7d7d4;
		&:hover,&:active{
			border-color: #000;
		}
	}
}
@media(max-width: 828px){
	.order-list{
		margin-bottom: 40px;
		&__show-items{
			margin: 0 auto 30px;
		}
		&__table{
			width: 100%;
			overflow: scroll;
		}
	}
}
.order-info{
	width: 100%;
	font-family: var(--font);
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	&__head{
		background-color: #ebebeb;
	}
	&__th{
		border-left: 2px solid #fff;
		padding: 10px 0;
		color: var(--lk-color);
	}
	&__row{
		border-bottom: 2px solid #ebebeb;
	}
	&__date{
		display: block;
	}
	&__val{
		padding: 10px;
		color: #2f2b32;
	}
	&__icon{
		width: 30px;
		height: 30px;
		fill: #cfcfcf;
		color: #535959;
		background-color: #f5f5f5;
	}
}
@media(max-width: 828px){
	.order-info{
		width: 100%;
		overflow: scroll;
	}
}