.lk{
	padding-top: var(--part-margin);
	padding-bottom: var(--part-margin);
}
@media (min-width: 828px){
	.lk{
		padding-right: var(--padding-part);
	}
}
.lk-content{
	display: flex;
	flex-flow: column-reverse nowrap;
	aling-items: flex-start;
	justify-content: flex-start;

	&__text{
		padding-left: var(--padding-part);
	}
	&__p{
		margin: 0 0 20px;
		font-family: var(--font);
		font-size: 15px;
		color: var(--lk-color);
	}
	&__orders{
		align-self: flex-start;
		width: 100%;
		max-width: 720px;
		box-sizing: border-box;
	}
}
@media (max-width: 828px){
	.lk-content{
		&__text{
			margin-bottom: 40px;
		}
		&__p{
			br{
				display: none;
			}
		}
		&__orders{
			padding-right: var(--padding-part);
			padding-left: var(--padding-part);

		}
	}
}
@media (min-width: 828px){
	.lk-content{
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		&--edit{
			align-items: flex-start;
		}
		&--ticket{
			align-items: stretch;
		}
		&__text{
			width: 50%;
		}
		&__p{
			margin-bottom: 30px;
		}
	}
}
