.signup{
	padding: 0 var(--padding-part);
	&__title{
		margin-bottom: 30px;
	}
	&__info{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 0 0 20px;
		&-icon{
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}
	}
	.input{
		width: 100%;
		& + input{
			margin-top: 20px;
		}
	}
	&__check{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 20px;
		&-box{
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}
	}
	&__contacts{
		margin-top: 60px;
	}
}
@media(min-width: 828px){
	.signup{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 720px;
		margin: 0 auto;
		padding: 0;
		&__info{
			height: 60px;
			margin-bottom: 30px;

		}
		.input{
			& + input{
				margin-top: 30px;
			}
		}
	
		&__company, &__contacts{
			width: 49%;
		}
		&__contacts{
			margin-top: 0;
		}

	}
}