.news{
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	padding-left: var(--padding-part);
	padding-right: var(--padding-part);
	&__items{}
}
.item-news{
	position: relative;
	background-color: #fff;
	&__link{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	&__img{
		width: 100%;
		object-fit: cover;
	}
	&__date{
		font-family: var(--font);
		font-weight: 300;
		font-size: 14px;
	}
	&__title{
		font-family: var(--title-font);
		font-size: 15px;
	}
}
@media (max-width: 1200px){
	.item-news{
		width: 32%;
		margin-bottom: 20px;
	}	

}
@media (max-width: 768px){
	.item-news{
		width: 48%;
		margin-bottom: 40px;
		&__date{
			padding: 0px 10px;
		}
		&__title{
			padding: 0px 10px 20px;
		}		
	}

}
@media (max-width: 470px){
	.item-news{
		width: 100%;
	}
}
@media (min-width: 1200px){
	.item-news{
		width: 252px;
		margin-bottom: 13px;
		&__img{
			height: 310px;
		}
		&__date{
			margin-top: 20px;
			margin-bottom: 0;
			padding: 0 17px;
		}
		&__title{
			margin-top: 15px;
			margin-bottom: 30px;
			padding: 0 17px;
		}
	}
}