.slider{
	position: relative;
	margin-top: var(--part-margin);
	padding-bottom: var(--part-margin);
	padding-left: var(--padding-part);
	padding-right: var(--padding-part);
	& + &{
		margin-top: 0;
	}
	&.popular-index{
		margin-top: var(--part-margin);
	}
	&__list{
		// padding: 0 35px;
	}
	&--full{
		margin: 0;
		.slider__list{
			padding: 0;
		}
		.slider__btn--left{
			left: 30px;
		}
		.slider__btn--right{
			right: 30px;
		}
	}
	&__btn{
		position: absolute;
		top: 50%;
		z-index: 100;
		padding: 0;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transform: translate(0, -50%);
		&:hover &-arrow{
			transform: scale(1.1);
		}
		&-arrow{
			width: 25px;
			height: 52px;
			transition: 0.3s;
		}
		&--left{
			// left: 40px;
			left: 20px;
		}
		&--right{
			// right: 40px;
			right: 20px;
		}
	}
	&--full{
		.slider__btn{
			fill: #fff;
		}
	}
	&__collection-logo{
		display: block;
		margin: 0 auto;
		&--boheme{
			max-width: 300px;
			max-height: 90px;
			.st5{
				display: none;
			}
		}
		&--armadi{
			max-width: 330px;
			max-height: 50px;
		}
	}
	&__dots{
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(0, -50%);
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			& + li{
				margin-left: 10px;
			}
			&.slick-active{
				button{
					background-color: #fff;
				}
			}
		}
		button{
			width: 20px;
			height: 20px;
			background-color: transparent;
			border: 3px solid #fff;
			border-radius: 50%;
			color: transparent;
			font-size: 0;
			cursor: pointer;
			transition: 0.3s;
			outline: none;
		}
	}
	.product-item{
		max-width: unset;
		margin: 5px;
	}
}
@media (min-width: 1200px){
	.slider{
		&--full{
			padding: 0;
			.slider__item > img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			.slider__list{
				height: 660px;
			}
			
			.slider__btn--right{
				right: 40px;
			}
			.slider__btn--left{
				left: 40px;
			}
		}
		&__list{
			.product-item + .product-item{
				// margin-left: 20px;
			}
		}
		&__btn{
			&--left{
				left: 20px;
			}
			&--right{
				right: 20px;
			}
		}

	}
}
.collections-slider .slider__btn{
	fill: #a5a5a5;
}
.slick-slide{
	outline: none;
}