@import "normalize.scss";
@import "slick.scss";
@import "slick-theme.scss";
@import "vars.scss";
@import "header.scss";
@import "footer.scss";
@import "slider.scss";
@import "breadcrumbs.scss";
@import "pagination.scss";
@import "lk-menu.scss";
@import "sale-info.scss";
@import "filter.scss";
@import "items-list.scss";
@import "page_index.scss";
@import "page_news.scss";
@import "page_lk.scss";
@import "page_lk-orderlist.scss";
@import "page_lk-order.scss";
@import "page_lk-edit.scss";
@import "page_lk-ticket.scss";
@import "page_news.scss";
@import "page_wherebuy.scss";
@import "page_forget.scss";
@import "page_item.scss";
@import "page_contacts.scss";
@import "page_download.scss";
@import "page_signup.scss";
@import "page_onecollection.scss";

.body{
	background-color: var(--bg-color);
	font-family: var(--font);
	font-weight: 300;
}
.page-wherebuy,
.page-news,
.page-collections{
	.main{
		background: linear-gradient(0deg, #ebebeb 60%, #fff 100%);
	}
	.footer{
		background-color: #fafafa;
	}
}
.page-contacts,
.page-item,
.page-authforget,
.page-wherebuy,
.page-news,
.page-download{
	.main{
		padding-top: var(--part-margin);
		padding-bottom: var(--part-margin);
	}
}
.page-sale,
.page-new{
	.main{
		padding-top: var(--part-margin);
	}
}
.page-sale,
.page-contacts,
.page-item,
.page-authforget,
.page-new,
.page-download,
.page-lk{
	.footer{
		background-color: #fafafa;
	}
}
.content-container{
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
}
@media (min-width: 1024px){
	.content-container{
		margin-top: 85px;
		margin-bottom: 70px;
		// padding: 0 60px;
		box-shadow: 0 0 31px 19px rgba(45, 45, 44, 0.16	);
	}
}
@media (min-width: 1200px){
	.content-container{
		max-width: 1169px;
	}
}
.part{}
.subtitle{
	font-size: 30px;
	text-align: center;
	font-family: var(--title-font);
}
@media (min-width: 1200px){
	.subtitle{
		margin-top: 0;
		margin-bottom: var(--part-margin);
	}

}
.product-item{
	position: relative;
	margin-top: 10px;
	outline: none;
	border: 1px solid #d7d7d4;
	box-sizing: border-box;
	&__new{
		width: 120px;
	    height: 20px;
	    fill: #ebebeb;
	    margin: 10px;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	&__link{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	&__img{
		display: block;
		width: 100%;
		object-fit: contain;
	}
	&--collection{
		border: none;
		background: #fff;
		.product-item__img{
			object-fit: cover;
		}
	}
	&__title{
		margin: 0;
		padding: 15px 10px;
		color: #000;
		font-size: 18px;
		font-weight: 300;
		&--collection{
			font-family: var(--title-font);
			font-size: 16px;
			padding-right: 0;
			padding-left: 10px;
		}
	}
	&__collection{
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
		font-family: var(--font);
		color: var(--light-grey);
	}
	&__avail{
		padding-left: 20px;
		padding-right: 20px;
	}
	&__price{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
		text-align: right;
		font-family: var(--font);
		font-weight: bold;
	}
	&__cart{
		display: none;
		position: absolute;
	}
}
.page-onecollection{
	.product-item{
		&__cart{
			display: block;
		}
	}
}

@media (min-width: 1200px){
	.product-item{
		max-width: 252px;
		// margin: 5px;
		&__img{
			height: 252px;
			&--collection{
				height: 310px;
			}
		}
		&__title,
		&__collection,
		&__avail,
		&__price{
			padding-left: 15px;
			padding-right: 15px;
		}
		&__title{
			padding-top: 20px;
			height: 41px;
			&--collection{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		&__collection{
			padding-top: 20px;
		}
		&__avail{}
		
	}
}
.avail-item{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	&__text{
		font-size: 15px;
		font-family: var(--font);
		color: var(--light-grey);
	}
	&__bar{
		flex-grow: 1;
		height: 20px;
		margin-left: 10px;
		border: 1px solid var(--light-grey);
		&--many .avail-item__progress{
			background-color: var(--progress-green);
		}
		&--middle .avail-item__progress{
			background-color: var(--progress-yellow);
		}
		&--few .avail-item__progress{
			background-color: var(--progress-red);
		}
	}
	&__progress{
		display: inline-block;
		height: 100%;
	}
}

.select{
	appearance: none;
	padding: 10px 20px;
	font-family: var(--font);
	font-size: 14px;
	color: #000;
	width: 100%;
	border: 1px solid #d7d7d4; 
	background: #fff;
	outline: none;
	cursor: pointer;
	color: #b3b6ba;
	&::placeholder{
		color: #b3b6ba;
	}
	&:focus{
		border-color: #000;
	}
	&-con{
		display: block;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0,-50%);
			width: 15px;
			height: 15px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 54 54'%3E%3Cpolygon points='7.3,26 0.3,53.8 25.8,26 0.3,0.2 ' style='&%2310; transform: rotate(90deg);&%2310; transform-origin: center;&%2310;'/%3E%3C/svg%3E");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 0 5px;
		}
	}
	&__option{
		padding: 10px 20px;
		font-family: var(--font);
		font-size: 14px;
		color: #000;
	}
}
.input{
	border: 1px solid #d7d7d4;
	padding: 20px;
	font-family: var(--font);
	color: #000;
	font-size: 16px;
	box-sizing: border-box;
	outline: none;
	transition: 0.3s;
	&::placeholder{
		color: #b3b6ba;
		font-size: 16px;
	}
	&:focus, &:active{
		border-color: #000;
	}
	&--footer{
		width: 90%;
		padding: 10px;
	}
}
.sorting{
	padding: 35px var(--padding-part);
	font-size: 14px;
	color: #b2b3b5;
	font-weight: 300;
	text-align: right;
	&__select-con{
		display: inline-block;
		max-width: 230px;
		&::after{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 54 54'%3E%3Cpolygon points='7.3,26 0.3,53.8 25.8,26 0.3,0.2 ' style=' fill:%23b2b3b5;transform: rotate(90deg); transform-origin: center;'/%3E%3C/svg%3E");
		}
	}
	.select{
		padding: 10px;
		padding-right: 30px;
		font-size: 14px;

	}
}